{
  "openapi": "3.1.0",
  "info": {
    "title": "SuperU API",
    "description": "Comprehensive API reference for SuperU voice agents, calls, tools, contacts, audiences, and knowledge bases.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://voip-middlware.superu.ai",
      "description": "Production"
    }
  ],
  "security": [
    {
      "superUApiKey": []
    }
  ],
  "tags": [
    {
      "name": "Calls",
      "description": "Create and analyze calls."
    },
    {
      "name": "Agents",
      "description": "Create, list, import, update, and delete agents."
    },
    {
      "name": "Agent Versions",
      "description": "Manage versions for existing agents."
    },
    {
      "name": "Phone Numbers",
      "description": "Fetch phone numbers available in your account."
    },
    {
      "name": "Call Logs",
      "description": "Retrieve call history with filters."
    },
    {
      "name": "Tools",
      "description": "Create and manage callable tools."
    },
    {
      "name": "Folders",
      "description": "Organize agents into folders."
    },
    {
      "name": "Contacts",
      "description": "Create and list contacts."
    },
    {
      "name": "Audiences",
      "description": "Create and manage audiences and contacts."
    },
    {
      "name": "Knowledge Base",
      "description": "Upload and manage knowledge bases."
    }
  ],
  "paths": {
    "/pypi_support/twilio_call_create": {
      "post": {
        "tags": [
          "Calls"
        ],
        "summary": "Create Twilio call",
        "description": "Creates a Twilio call request for an assistant.",
        "operationId": "createTwilioCall",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TwilioCallCreateRequest"
              },
              "example": {
                "phoneNumberId": "pn_123",
                "to_": "+14155552671",
                "assistant_id": "ag_01HXR8FM5QYCVXAK4TYFJ4AEP0",
                "additional_payload": {
                  "key": "value"
                }
              }
            }
          },
          "description": "Request body for Create Twilio call."
        },
        "responses": {
          "200": {
            "description": "Twilio call request created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "status": "success",
                  "call_uuid": "aa39db9f-d9f5-45f4-b4fc-9fe49f14f9ed",
                  "message": "Call queued"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request POST \\\\\n  --url https://voip-middlware.superu.ai/pypi_support/twilio_call_create \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY' \\\\\n  --data '{\n  \"phoneNumberId\": \"pn_123\",\n  \"to_\": \"+14155552671\",\n  \"assistant_id\": \"ag_01HXR8FM5QYCVXAK4TYFJ4AEP0\",\n  \"additional_payload\": {\n    \"key\": \"value\"\n  }\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\npayload = {\n    \"phoneNumberId\": \"pn_123\",\n    \"to_\": \"+14155552671\",\n    \"assistant_id\": \"ag_01HXR8FM5QYCVXAK4TYFJ4AEP0\",\n    \"additional_payload\": {\n        \"key\": \"value\"\n    }\n}\n\nresponse = client.calls.create_twilio_call(**payload)\nprint(response)"
          }
        ]
      }
    },
    "/pypi_support/twilio_call_analysis": {
      "post": {
        "tags": [
          "Calls"
        ],
        "summary": "Analyze Twilio call",
        "description": "Analyzes a completed call and optionally extracts custom fields.",
        "operationId": "analyzeTwilioCall",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TwilioCallAnalysisRequest"
              },
              "example": {
                "call_uuid": "aa39db9f-d9f5-45f4-b4fc-9fe49f14f9ed",
                "custom_fields": []
              }
            }
          },
          "description": "Request body for Analyze Twilio call."
        },
        "responses": {
          "200": {
            "description": "Call analysis generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "status": "success",
                  "summary": "Caller asked about pricing and requested a callback.",
                  "custom_fields": {
                    "intent": "sales"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request POST \\\\\n  --url https://voip-middlware.superu.ai/pypi_support/twilio_call_analysis \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY' \\\\\n  --data '{\n  \"call_uuid\": \"aa39db9f-d9f5-45f4-b4fc-9fe49f14f9ed\",\n  \"custom_fields\": [\n    {\n      \"field\": \"intent\",\n      \"definition\": \"Primary intent of the caller\",\n      \"outputs_options\": [\n        \"sales\",\n        \"support\",\n        \"other\"\n      ]\n    }\n  ]\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\npayload = {\n    \"call_uuid\": \"aa39db9f-d9f5-45f4-b4fc-9fe49f14f9ed\",\n    \"custom_fields\": [\n        {\n            \"field\": \"intent\",\n            \"definition\": \"Primary intent of the caller\",\n            \"outputs_options\": [\n                \"sales\",\n                \"support\",\n                \"other\"\n            ]\n        }\n    ]\n}\n\nresponse = client.calls.analysis_twilio_call(**payload)\nprint(response)"
          }
        ]
      }
    },
    "/campaign/outbound/create_call/superu": {
      "post": {
        "tags": [
          "Calls"
        ],
        "summary": "Create outbound call",
        "description": "Creates an outbound campaign call for a configured assistant.",
        "operationId": "createOutboundCall",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OutboundCallCreateRequest"
              },
              "example": {
                "assistant_id": "ag_01HXR8FM5QYCVXAK4TYFJ4AEP0",
                "to": "+14155552671",
                "campaign_id": "demo_call",
                "customer_name": "Ava",
                "customer_id": "cust_123",
                "from": "+14155550000",
                "variable_values": {
                  "key": "value"
                }
              }
            }
          },
          "description": "Request body for Create outbound call."
        },
        "responses": {
          "200": {
            "description": "Outbound call created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "status": "success",
                  "call_uuid": "e8f87167-d4fd-44f2-b03a-24cb600f86f2",
                  "campaign_id": "demo_call",
                  "message": "Outbound call created"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request POST \\\\\n  --url https://voip-middlware.superu.ai/campaign/outbound/create_call/superu \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY' \\\\\n  --data '{\n  \"assistant_id\": \"ag_01HXR8FM5QYCVXAK4TYFJ4AEP0\",\n  \"to\": \"+14155552671\",\n  \"from\": \"+14155550000\",\n  \"campaign_id\": \"demo_call\",\n  \"customer_name\": \"Ava\",\n  \"customer_id\": \"cust_123\",\n  \"variable_values\": {\n    \"key\": \"value\"\n  }\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\nresponse = client.calls.create_outbound_call(\n    assistant_id=\"ag_01HXR8FM5QYCVXAK4TYFJ4AEP0\",\n    to=\"+14155552671\",\n    from_=\"+14155550000\",\n    campaign_id=\"demo_call\",\n    customer_name=\"Ava\",\n    customer_id=\"cust_123\",\n    variable_values={\n        \"key\": \"value\"\n    }\n)\nprint(response)"
          }
        ]
      }
    },
    "/agent/create": {
      "post": {
        "tags": [
          "Agents"
        ],
        "summary": "Create agent",
        "description": "Creates a new SuperU voice agent.",
        "operationId": "createAgent",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentCreateRequest"
              },
              "example": {
                "type": "outbound",
                "name": "Demo Assistant",
                "company_name": "SuperU",
                "assistant_name": "Ava",
                "first_message": "Hi, thanks for taking the call.",
                "voice_id": "90ipbRoKi4CpHXvKVtl0",
                "voice_provider": "11labs",
                "system_prompt": "You are a friendly assistant.",
                "industry": "Blank Template",
                "useCase": "Blank Template",
                "form_model": {
                  "key": "value"
                },
                "assistant_data": {
                  "key": "value"
                },
                "knowledgeBase": [
                  "kb_abc123"
                ],
                "tools": [
                  "tool_01HXR9259WDZ2X3ZZKQ7HDG4C2"
                ],
                "call_forwarding": {
                  "key": "value"
                }
              }
            }
          },
          "description": "Request body for Create agent."
        },
        "responses": {
          "200": {
            "description": "Agent created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "status": "success",
                  "agent_id": "ag_01HXR8FM5QYCVXAK4TYFJ4AEP0",
                  "message": "Agent created successfully"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request POST \\\\\n  --url https://voip-middlware.superu.ai/agent/create \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY' \\\\\n  --data '{\n  \"type\": \"outbound\",\n  \"name\": \"Demo Assistant\",\n  \"company_name\": \"SuperU\",\n  \"assistant_name\": \"Ava\",\n  \"first_message\": \"Hi, thanks for taking the call.\",\n  \"voice_id\": \"90ipbRoKi4CpHXvKVtl0\",\n  \"voice_provider\": \"11labs\",\n  \"system_prompt\": \"You are a friendly assistant.\",\n  \"industry\": \"Blank Template\",\n  \"useCase\": \"Blank Template\",\n  \"form_model\": {\n    \"key\": \"value\"\n  },\n  \"assistant_data\": {\n    \"key\": \"value\"\n  },\n  \"knowledgeBase\": [\n    \"kb_abc123\"\n  ],\n  \"tools\": [\n    \"tool_01HXR9259WDZ2X3ZZKQ7HDG4C2\"\n  ],\n  \"call_forwarding\": {\n    \"key\": \"value\"\n  }\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\npayload = {\n    \"type\": \"outbound\",\n    \"name\": \"Demo Assistant\",\n    \"company_name\": \"SuperU\",\n    \"assistant_name\": \"Ava\",\n    \"first_message\": \"Hi, thanks for taking the call.\",\n    \"voice_id\": \"90ipbRoKi4CpHXvKVtl0\",\n    \"voice_provider\": \"11labs\",\n    \"system_prompt\": \"You are a friendly assistant.\",\n    \"industry\": \"Blank Template\",\n    \"useCase\": \"Blank Template\",\n    \"form_model\": {\n        \"key\": \"value\"\n    },\n    \"assistant_data\": {\n        \"key\": \"value\"\n    },\n    \"knowledgeBase\": [\n        \"kb_abc123\"\n    ],\n    \"tools\": [\n        \"tool_01HXR9259WDZ2X3ZZKQ7HDG4C2\"\n    ],\n    \"call_forwarding\": {\n        \"key\": \"value\"\n    }\n}\n\nresponse = client.agents.create_agent(**payload)\nprint(response)"
          }
        ]
      }
    },
    "/agent/list": {
      "post": {
        "tags": [
          "Agents"
        ],
        "summary": "List agents",
        "description": "Lists agents with pagination and optional filters.",
        "operationId": "listAgents",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "example": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items per page",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20,
              "example": 20
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentListRequest"
              },
              "example": {
                "search_query": ""
              }
            }
          },
          "description": "Request body for List agents."
        },
        "responses": {
          "200": {
            "description": "Agent list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "agents": [
                    {
                      "id": "699702113f3323a52636240b",
                      "name": "Hospitality Reservation Booking Agent",
                      "status": "active",
                      "voice_id": "CwhRBWXzGAHq8TQ4Fs17",
                      "industry": "Hospitality",
                      "useCase": "Spa Reservations",
                      "type": "inbound",
                      "created_date": "2026-02-19",
                      "assistant_id": "d4afb99c-fb12-40bb-8cea-9d7bba7bf176",
                      "first_message": "Hello, this is OceanVista Resort and Spa. I can help you with bookings, changes, or any questions. How would you like me to help you today?"
                    }
                  ],
                  "pagination": {
                    "total_agents": 1,
                    "current_page": 1,
                    "total_pages": 1,
                    "items_per_page": 1,
                    "has_next": false,
                    "has_previous": false
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request POST \\\\\n  --url https://voip-middlware.superu.ai/agent/list?page=1&limit=20 \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY' \\\\\n  --data '{\n  \"search_query\": \"\"\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\npayload = {\n    \"page\": 1,\n    \"limit\": 20,\n    \"search_query\": \"\"\n}\n\nresponse = client.agents.list(**payload)\nprint(response)"
          }
        ]
      }
    },
    "/agent/update/name": {
      "post": {
        "tags": [
          "Agents"
        ],
        "summary": "Update agent name",
        "description": "Updates the display name of an existing agent.",
        "operationId": "updateAgentName",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentUpdateNameRequest"
              },
              "example": {
                "agent_id": "76286489-86a8-4540-b479-b0154e474555",
                "name": "Sales Agent"
              }
            }
          },
          "description": "Request body for Update agent name."
        },
        "responses": {
          "200": {
            "description": "Agent name updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "message": "Agent name updated successfully",
                  "agent_id": "76286489-86a8-4540-b479-b0154e474555",
                  "name": "Sales Agent"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request POST \\\\\n  --url https://voip-middlware.superu.ai/agent/update/name \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY' \\\\\n  --data '{\n  \"agent_id\": \"76286489-86a8-4540-b479-b0154e474555\",\n  \"name\": \"Testinggg\"\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\npayload = {\n    \"agent_id\": \"76286489-86a8-4540-b479-b0154e474555\",\n    \"name\": \"Testinggg\"\n}\n\nresponse = client.agents.update_name(**payload)\nprint(response)"
          }
        ]
      }
    },
    "/agent/delete": {
      "post": {
        "tags": [
          "Agents"
        ],
        "summary": "Delete agent",
        "description": "Deletes an agent by ID.",
        "operationId": "deleteAgent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentDeleteRequest"
              },
              "example": {
                "agent_id": "76286489-86a8-4540-b479-b0154e474555"
              }
            }
          },
          "description": "Request body for Delete agent."
        },
        "responses": {
          "200": {
            "description": "Agent deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "message": "Agent deleted successfully",
                  "deleted": true,
                  "agent_id": "76286489-86a8-4540-b479-b0154e474555",
                  "matched_count": 1,
                  "modified_count": 1
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request POST \\\\\n  --url https://voip-middlware.superu.ai/agent/delete \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY' \\\\\n  --data '{\n  \"agent_id\": \"76286489-86a8-4540-b479-b0154e474555\"\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\npayload = {\n    \"agent_id\": \"76286489-86a8-4540-b479-b0154e474555\"\n}\n\nresponse = client.agents.delete(**payload)\nprint(response)"
          }
        ]
      }
    },
    "/agent/version/create": {
      "post": {
        "tags": [
          "Agent Versions"
        ],
        "summary": "Create agent version",
        "description": "Creates a new version for an existing agent.",
        "operationId": "createAgentVersion",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentVersionCreateRequest"
              },
              "example": {
                "agent_id": "76286489-86a8-4540-b479-b0154e474555",
                "version": "1.0.3",
                "assistant_data": {
                  "key": "value"
                },
                "knowledgeBase": [
                  "kb_01HXRA4N5B8Q0SJC0F30Z8W0DT"
                ],
                "tools": [
                  "tool_01HXR9259WDZ2X3ZZKQ7HDG4C2"
                ],
                "call_forwarding": {
                  "key": "value"
                }
              }
            }
          },
          "description": "Request body for Create agent version."
        },
        "responses": {
          "200": {
            "description": "Version created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "message": "Agent version created successfully",
                  "version_id": "69f884d50c4e5a2dc72277d4",
                  "version": "1.0.3"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request POST \\\\\n  --url https://voip-middlware.superu.ai/agent/version/create \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY' \\\\\n  --data '{\n  \"agent_id\": \"76286489-86a8-4540-b479-b0154e474555\",\n  \"version\": \"1.0.3\",\n  \"assistant_data\": {\n    \"key\": \"value\"\n  },\n  \"knowledgeBase\": [\n    \"kb_01HXRA4N5B8Q0SJC0F30Z8W0DT\"\n  ],\n  \"tools\": [\n    \"tool_01HXR9259WDZ2X3ZZKQ7HDG4C2\"\n  ],\n  \"call_forwarding\": {\n    \"key\": \"value\"\n  }\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\npayload = {\n    \"agent_id\": \"76286489-86a8-4540-b479-b0154e474555\",\n    \"version\": \"1.0.3\",\n    \"assistant_data\": {\n        \"key\": \"value\"\n    },\n    \"knowledgeBase\": [\n        \"kb_01HXRA4N5B8Q0SJC0F30Z8W0DT\"\n    ],\n    \"tools\": [\n        \"tool_01HXR9259WDZ2X3ZZKQ7HDG4C2\"\n    ],\n    \"call_forwarding\": {\n        \"key\": \"value\"\n    }\n}\n\nresponse = client.agents.create_version(**payload)\nprint(response)"
          }
        ]
      }
    },
    "/agent/version/update": {
      "post": {
        "tags": [
          "Agent Versions"
        ],
        "summary": "Update agent version",
        "description": "Updates an existing agent version.",
        "operationId": "updateAgentVersion",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentVersionUpdateRequest"
              },
              "example": {
                "agent_id": "76286489-86a8-4540-b479-b0154e474555",
                "version_id": "69f884d50c4e5a2dc72277d4",
                "version": "1.0.3",
                "assistant_data": {
                  "key": "value"
                },
                "composio_app": {
                  "key": "value"
                }
              }
            }
          },
          "description": "Request body for Update agent version."
        },
        "responses": {
          "200": {
            "description": "Version updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "message": "Agent version created and deployed successfully",
                  "version_id": "69f884d50c4e5a2dc72277d4",
                  "version": "1.0.4"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request POST \\\\\n  --url https://voip-middlware.superu.ai/agent/version/update \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY' \\\\\n  --data '{\n  \"agent_id\": \"76286489-86a8-4540-b479-b0154e474555\",\n  \"version_id\": \"69f884d50c4e5a2dc72277d4\",\n  \"version\": \"1.0.1\",\n  \"assistant_data\": {\n    \"key\": \"value\"\n  },\n  \"composio_app\": {\n    \"key\": \"value\"\n  }\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\npayload = {\n    \"agent_id\": \"76286489-86a8-4540-b479-b0154e474555\",\n    \"version_id\": \"69f884d50c4e5a2dc72277d4\",\n    \"version\": \"1.0.1\",\n    \"assistant_data\": {\n        \"key\": \"value\"\n    },\n    \"composio_app\": {\n        \"key\": \"value\"\n    }\n}\n\nresponse = client.agents.update_version(**payload)\nprint(response)"
          }
        ]
      }
    },
    "/agent/version/get": {
      "post": {
        "tags": [
          "Agent Versions"
        ],
        "summary": "Get agent version",
        "description": "Fetches one version for an agent by version ID.",
        "operationId": "getAgentVersion",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentVersionGetRequest"
              },
              "example": {
                "agent_id": "04cf74f7-019b-4c3d-883c-610a42b32bc4",
                "version": "1.0.0"
              }
            }
          },
          "description": "Request body for Get agent version."
        },
        "responses": {
          "200": {
            "description": "Version retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "version_id": "69c228b11e62cb42009fe445",
                  "agent_id": "04cf74f7-019b-4c3d-883c-610a42b32bc4",
                  "version": "1.0.1",
                  "assistant_config": {
                    "id": "04cf74f7-019b-4c3d-883c-610a42b32bc4",
                    "orgId": "1d23cc8c-8ccb-4a19-a1e8-d2dc72e8848d",
                    "name": "Acme Dental Clinic - AI Receptionist",
                    "voice": {
                      "model": "eleven_turbo_v2_5",
                      "voiceId": "EXAVITQu4vr4xnSDxMaL",
                      "provider": "11labs"
                    },
                    "model": {
                      "model": "openai/gpt-oss-120b",
                      "provider": "groq",
                      "messages": [
                        {
                          "role": "system",
                          "content": "You are Emma, the warm and professional AI receptionist for Acme Dental Clinic..."
                        }
                      ]
                    },
                    "firstMessage": "Thank you for calling Acme Dental Clinic! This is Emma. How can I help you today?",
                    "transcriber": {
                      "model": "nova-2",
                      "language": "en",
                      "provider": "deepgram"
                    },
                    "analysisPlan": {
                      "summaryPlan": {
                        "messages": [
                          {
                            "role": "system",
                            "content": "Create a concise call summary and structured details..."
                          }
                        ]
                      }
                    },
                    "messagePlan": {
                      "idleMessages": [
                        "Are you there?",
                        "Can you hear me?",
                        "Should I continue?"
                      ],
                      "idleMessageMaxSpokenCount": 2,
                      "idleTimeoutSeconds": 5
                    },
                    "server": {
                      "url": "https://voip-middlware.superu.ai/vapi/webhook",
                      "timeoutSeconds": 20
                    }
                  },
                  "knowledge_base": {},
                  "tools": [],
                  "composio_app": {},
                  "call_forwarding": null,
                  "created_at": "2026-03-24 06:01:21"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request POST \\\\\n  --url https://voip-middlware.superu.ai/agent/version/get \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY' \\\\\n  --data '{\n  \"agent_id\": \"04cf74f7-019b-4c3d-883c-610a42b32bc4\",\n  \"version\": \"69f884d50c4e5a2dc72277d4\"\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\npayload = {\n    \"agent_id\": \"04cf74f7-019b-4c3d-883c-610a42b32bc4\",\n    \"version\": \"69f884d50c4e5a2dc72277d4\"\n}\n\nresponse = client.agents.get_version(**payload)\nprint(response)"
          }
        ]
      }
    },
    "/agent/version/list": {
      "post": {
        "tags": [
          "Agent Versions"
        ],
        "summary": "List agent versions",
        "description": "Lists all versions for an agent.",
        "operationId": "listAgentVersions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentVersionListRequest"
              },
              "example": {
                "agent_id": "04cf74f7-019b-4c3d-883c-610a42b32bc4"
              }
            }
          },
          "description": "Request body for List agent versions."
        },
        "responses": {
          "200": {
            "description": "Version list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": [
                  {
                    "version_id": "69c228845c764b0c5ef71944",
                    "agent_id": "04cf74f7-019b-4c3d-883c-610a42b32bc4",
                    "version": "1.0.0",
                    "assistant_config": "{...}",
                    "knowledge_base": {},
                    "tools": [],
                    "call_forwarding": null,
                    "created_at": "2026-03-24 06:00:36",
                    "deployed": false
                  },
                  {
                    "version_id": "69c228b11e62cb42009fe445",
                    "agent_id": "04cf74f7-019b-4c3d-883c-610a42b32bc4",
                    "version": "1.0.1",
                    "assistant_config": "{...}",
                    "knowledge_base": {},
                    "tools": [],
                    "call_forwarding": null,
                    "created_at": "2026-03-24 06:01:21",
                    "deployed": true
                  }
                ]
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request POST \\\\\n  --url https://voip-middlware.superu.ai/agent/version/list \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY' \\\\\n  --data '{\n  \"agent_id\": \"04cf74f7-019b-4c3d-883c-610a42b32bc4\"\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\npayload = {\n    \"agent_id\": \"04cf74f7-019b-4c3d-883c-610a42b32bc4\"\n}\n\nresponse = client.agents.list_versions(**payload)\nprint(response)"
          }
        ]
      }
    },
    "/agent/version/deploy": {
      "post": {
        "tags": [
          "Agent Versions"
        ],
        "summary": "Deploy agent version",
        "description": "Deploys a version for an agent.",
        "operationId": "deployAgentVersion",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentVersionDeployRequest"
              },
              "example": {
                "agent_id": "04cf74f7-019b-4c3d-883c-610a42b32bc4",
                "version": "1.0.0"
              }
            }
          },
          "description": "Request body for Deploy agent version."
        },
        "responses": {
          "200": {
            "description": "Version deployed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "status": "success",
                  "message": "Agent version deployed successfully",
                  "details": {
                    "version_id": "1.0.0",
                    "agent_id": "04cf74f7-019b-4c3d-883c-610a42b32bc4"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request POST \\\\\n  --url https://voip-middlware.superu.ai/agent/version/deploy \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY' \\\\\n  --data '{\n  \"agent_id\": \"04cf74f7-019b-4c3d-883c-610a42b32bc4\",\n  \"version\": \"1.0.0\"\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\npayload = {\n    \"agent_id\": \"04cf74f7-019b-4c3d-883c-610a42b32bc4\",\n    \"version\": \"1.0.0\"\n}\n\nresponse = client.agents.deploy_version(**payload)\nprint(response)"
          }
        ]
      }
    },
    "/phoneNumber/owned": {
      "post": {
        "tags": [
          "Phone Numbers"
        ],
        "summary": "Get owned phone numbers",
        "description": "Returns phone numbers owned by the authenticated account.",
        "operationId": "getOwnedPhoneNumbers",
        "responses": {
          "200": {
            "description": "Owned numbers returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": [
                  {
                    "number": "918031450739",
                    "region": "Bangalore, INDIA",
                    "country": "India",
                    "monthly_rental_rate": "3.12500"
                  },
                  {
                    "number": "17752183694",
                    "region": "Nevada, UNITED STATES",
                    "country": "United States",
                    "monthly_rental_rate": "0.50000"
                  },
                  {
                    "number": "18332234367",
                    "region": "New Jersey, UNITED STATES",
                    "country": "United States",
                    "monthly_rental_rate": "1.00000"
                  }
                ]
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request POST \\\\\n  --url https://voip-middlware.superu.ai/phoneNumber/owned \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\nresponse = client.phone_numbers.get_owned()\nprint(response)"
          }
        ]
      }
    },
    "/call-logs/{assistant_id}": {
      "post": {
        "tags": [
          "Call Logs"
        ],
        "summary": "Get call logs and analysis",
        "description": "Returns detailed call logs, including transcripts, recordings, and AI generated analysis.",
        "operationId": "getCallLogs",
        "parameters": [
          {
            "name": "assistant_id",
            "in": "path",
            "description": "Assistant ID or `all`",
            "required": true,
            "schema": {
              "type": "string",
              "example": "all"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Records per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100,
              "example": 20
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1,
              "example": 1
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Upper timestamp/date bound",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2026-02-01T00:00:00Z"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Lower timestamp/date bound",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2026-01-01T00:00:00Z"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Call status filter",
            "required": false,
            "schema": {
              "type": "string",
              "example": "completed"
            }
          },
          {
            "name": "campaign_id",
            "in": "query",
            "description": "Campaign filter",
            "required": false,
            "schema": {
              "type": "string",
              "example": "demo_call"
            }
          },
          {
            "name": "search_query",
            "in": "query",
            "description": "Search filter",
            "required": false,
            "schema": {
              "type": "string",
              "example": "Ava"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Call logs returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "description": "<details>\n<summary>Hangup Causes</summary>\n\n<table>\n<thead>\n<tr><th>Cause</th><th>Description</th></tr>\n</thead>\n<tbody>\n<tr><td colspan=\"2\"><strong>Normal Completions</strong></td></tr>\n<tr><td>Agent Hangup</td><td>Agent hangup the call</td></tr>\n<tr><td>Normal Hangup</td><td>Call terminated normally</td></tr>\n<tr><td>End of XML Instructions</td><td>No more XML instructions to execute</td></tr>\n<tr><td>Multipart Call Ended</td><td>MPC ended via API or max duration</td></tr>\n<tr><td>Kicked Out of Multiparty Call</td><td>Participant removed via API</td></tr>\n<tr><td colspan=\"2\"><strong>Canceled Calls</strong></td></tr>\n<tr><td>Unknown</td><td>Hangup reason undetermined</td></tr>\n<tr><td>Canceled</td><td>Call canceled via Hangup Call API before answer</td></tr>\n<tr><td>Canceled (Out of Credits)</td><td>Account ran out of credits</td></tr>\n<tr><td>Canceled (Simultaneous dial limit reached)</td><td>Simultaneous dial limit exceeded</td></tr>\n<tr><td colspan=\"2\"><strong>Destination Issues</strong></td></tr>\n<tr><td>Invalid Destination Address</td><td>Destination number/endpoint invalid</td></tr>\n<tr><td>Destination Out of Service</td><td>Destination unavailable</td></tr>\n<tr><td>Endpoint Not Registered</td><td>SIP endpoint unregistered/unreachable</td></tr>\n<tr><td>Destination Country Barred</td><td>Country disabled in geo permissions</td></tr>\n<tr><td>Destination Number Barred</td><td>Premium rate numbers disabled</td></tr>\n<tr><td>Destination Prefix Barred</td><td>Prefix not permitted</td></tr>\n<tr><td>Loop Detected</td><td>B-leg would redial A leg's number</td></tr>\n<tr><td>Violates Media Anchoring</td><td>India PSTN regulation violation</td></tr>\n<tr><td colspan=\"2\"><strong>Call Rejections</strong></td></tr>\n<tr><td>No Answer</td><td>Destination unavailable/unreachable</td></tr>\n<tr><td>Busy Line</td><td>Destination is busy</td></tr>\n<tr><td>Rejected</td><td>Call rejected by called party</td></tr>\n<tr><td>Unkown Caller ID</td><td>Non-Plivo number used as caller ID</td></tr>\n<tr><td>Forbiddden</td><td>Destination rejected/blocked call</td></tr>\n<tr><td>Unallocated number</td><td>Destination invalid or out of service</td></tr>\n<tr><td colspan=\"2\"><strong>Carrier Errors</strong></td></tr>\n<tr><td>Request timeout</td><td>Carrier didn't respond in time</td></tr>\n<tr><td>Internal server error from carrier</td><td>Carrier encountered error</td></tr>\n<tr><td>Network congestion from carrier</td><td>Carrier network overloaded</td></tr>\n<tr><td>Busy everywhere</td><td>All destination endpoints busy</td></tr>\n<tr><td>Declined</td><td>Destination cannot/won't participate</td></tr>\n<tr><td>User does not exist anywhere</td><td>End user doesn't exist</td></tr>\n<tr><td>Spam block</td><td>Carrier rejected due to spam flag</td></tr>\n<tr><td>DNO Caller ID</td><td>Caller ID on Do Not</td></tr>\n<tr><td colspan=\"2\"><strong>System Errors</strong></td></tr>\n<tr><td>Network Error</td><td>Fatal network condition</td></tr>\n<tr><td>Internal Error</td><td>Plivo system error</td></tr>\n<tr><td>Routing Error</td><td>Could not route to destination</td></tr>\n<tr><td>Concurrency Limit Breached</td><td>India concurreny call limit exceeded</td></tr>\n<tr><td colspan=\"2\"><strong>Timeouts</strong></td></tr>\n<tr><td>Scheduled Hangup</td><td>Max call duration reached</td></tr>\n<tr><td>Ring Timeout Reached</td><td>Not answered within ring timeout</td></tr>\n<tr><td>Media Timeout</td><td>No media packets for 60 seconds</td></tr>\n<tr><td colspan=\"2\"><strong>URL Errors</strong></td></tr>\n<tr><td>Error Reaching Answer URL</td><td>Non-2xx response from answer URL</td></tr>\n<tr><td>Error Reaching Action URL</td><td>Non-2xx response from action URL</td></tr>\n<tr><td>Error Reaching Transfer URL</td><td>Non-2xx response from transfer URL</td></tr>\n<tr><td>Error Reaching Redirect URL</td><td>Non-2xx response from redirect URL</td></tr>\n<tr><td>Invalid Action URL</td><td>Action URL not valid</td></tr>\n<tr><td>Invalid Transfer URL</td><td>Transfer URL not valid</td></tr>\n<tr><td>Invalid Redirect URL</td><td>Redirect URL not valid</td></tr>\n<tr><td>Invalid Method for Action URL</td><td>Unsupported HTTP method</td></tr>\n<tr><td>Invalid Method for Transfer URL</td><td>Unsupported HTTP method</td></tr>\n<tr><td>Invalid Method for Redirect URL</td><td>Unsupported HTTP method</td></tr>\n<tr><td colspan=\"2\"><strong>XML Errors</strong></td></tr>\n<tr><td>Invalid Answer XML</td><td>Answer URL returned invalid XML</td></tr>\n<tr><td>Invalid Action XML</td><td>Action URL returned invalid XML</td></tr>\n<tr><td>Invalid Transfer XML</td><td>Transfer URL returned invalid XML</td></tr>\n<tr><td>Invalid Redirect XML</td><td>Redirect URL returned invalid XML</td></tr>\n<tr><td colspan=\"2\"><strong>Special Cases</strong></td></tr>\n<tr><td>Lost Race</td><td>Another parallel B-leg answered first</td></tr>\n<tr><td>Machine Detected</td><td>Answered by answering machine</td></tr>\n<tr><td>Confirm Key Challenge Failed</td><td>Participant failed to enter confirm key</td></tr>\n</tbody>\n</table>\n\n</details>"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "calls": [
                      {
                        "id": "b98d6318-5e5c-40c1-b9b3-805688506d92",
                        "assistantId": "88c05f57-4aa2-40a6-b12a-848596260dae",
                        "type": null,
                        "cost": 0.02,
                        "endedReason": "Customer Hangup",
                        "status": "ended",
                        "startedAt": "2026-04-20T06:59:42.449948+00:00",
                        "endedAt": "2026-04-20T07:00:02.943036+00:00",
                        "transcript": [
                          {
                            "id": "item_86abffec7b54",
                            "type": "message",
                            "role": "assistant",
                            "content": [
                              "नमस्ते! मैं पूजा बोल रही हूँ, आवरण होम प्लस से।"
                            ],
                            "interrupted": false,
                            "extra": {},
                            "metrics": {
                              "tts_node_ttfb": 0.2542913980000776
                            },
                            "created_at": "2026-04-20T06:59:46.379377+00:00",
                            "message": "नमस्ते! मैं पूजा बोल रही हूँ, आवरण होम प्लस से।"
                          },
                          {
                            "id": "item_d16599786c31",
                            "type": "message",
                            "role": "assistant",
                            "content": [
                              "Can you hear me?"
                            ],
                            "interrupted": false,
                            "extra": {},
                            "metrics": {
                              "started_speaking_at": 1776668389.9128273,
                              "stopped_speaking_at": 1776668390.9525201,
                              "tts_node_ttfb": 0.14719204099992567
                            },
                            "created_at": "2026-04-20T06:59:50.952606+00:00",
                            "message": "Can you hear me?"
                          },
                          {
                            "id": "item_d90d02b3164c",
                            "type": "message",
                            "role": "assistant",
                            "content": [
                              "Are you there?"
                            ],
                            "interrupted": false,
                            "extra": {},
                            "metrics": {
                              "started_speaking_at": 1776668394.9146988,
                              "stopped_speaking_at": 1776668395.8504355,
                              "tts_node_ttfb": 0.14871830199990654
                            },
                            "created_at": "2026-04-20T06:59:55.850494+00:00",
                            "message": "Are you there?"
                          }
                        ],
                        "recordingUrl": "https://static.pathora.in/pluto_recordings/b98d6318-5e5c-40c1-b9b3-805688506d92.ogg",
                        "summary": {
                          "Summary": "The customer did not respond during the call. No information or intent was provided.",
                          "Remarks": {
                            "Intent": "None",
                            "Next Call-to-Action": "None"
                          },
                          "Call Outcome": {
                            "RSVP": "None",
                            "Callback Requested": "None",
                            "Callback Timeframe": "None",
                            "Key Questions/Concerns": "None",
                            "Follow-up Actions": "None"
                          },
                          "Customer Stage": {
                            "Stage": "Not Picked"
                          },
                          "Additional Notes": {
                            "Objections/Concerns": "None",
                            "Visit Commitment": "None"
                          }
                        },
                        "createdAt": "2026-04-20T06:59:42.449948+00:00",
                        "updatedAt": "2026-04-20T07:00:02.943036+00:00",
                        "orgId": "user_3763mSwxXbCByARq7E92FpJcJ71",
                        "call_duration_seconds": 20.493088,
                        "agent_id": "88c05f57-4aa2-40a6-b12a-848596260dae",
                        "user_id": "user_3763mSwxXbCByARq7E92FpJcJ71",
                        "campaign_id": "demo_call_web",
                        "to_number": null,
                        "from_number": null,
                        "telecom_total_cost": null,
                        "call_direction": null,
                        "contact_name": null
                      }
                    ],
                    "total": 1,
                    "total_cost": 0.02,
                    "avg_duration": 20.49,
                    "total_duration": 20.49
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request POST \\\\\n  --url https://voip-middlware.superu.ai/call-logs/all?limit=20&page=1&before=2026-02-01T00%3A00%3A00Z&after=2026-01-01T00%3A00%3A00Z&status=completed&campaign_id=demo_call&search_query=Ava \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\nresponse = client.call_logs.get_logs(\n    assistant_id=\"all\",\n    limit=20,\n    page=1,\n    before=\"2026-02-01T00:00:00Z\",\n    after=\"2026-01-01T00:00:00Z\",\n    status=\"completed\",\n    campaign_id=\"demo_call\",\n    search_query=\"Ava\"\n)\nprint(response)"
          }
        ]
      }
    },
    "/tool": {
      "post": {
        "tags": [
          "Tools"
        ],
        "summary": "Create tool",
        "description": "Creates a callable tool for agents.",
        "operationId": "createTool",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToolCreateRequest"
              },
              "example": {
                "name": "Tool 1",
                "type": "apiRequest",
                "url": "https://www.google.com",
                "description": "hehe",
                "method": "GET",
                "body": {
                  "type": "object",
                  "properties": {
                    "new": {
                      "type": "string",
                      "description": "2"
                    }
                  }
                },
                "headers": {
                  "type": "object",
                  "properties": {
                    "new": {
                      "type": "string",
                      "description": "2"
                    }
                  }
                },
                "timeoutSeconds": 20
              }
            }
          },
          "description": "Request body for Create tool."
        },
        "responses": {
          "201": {
            "description": "Tool created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "tool_uuid": "0a425650-60ac-4fd4-9554-5579844ce3e5",
                  "user_id": "user_32UrXxvrVxWSYp1dGLsPdElDtRt",
                  "type": "apiRequest",
                  "createdAt": "2026-05-05T06:20:17.548305",
                  "updatedAt": "2026-05-05T06:20:17.548307",
                  "method": "GET",
                  "url": "https://www.google.com",
                  "name": "Tool 1",
                  "description": "hehe",
                  "timeoutSeconds": 20,
                  "body": "{...}",
                  "headers": "{...}",
                  "messages": [],
                  "backoffPlan": {
                    "type": "fixed",
                    "maxRetries": 0,
                    "baseDelaySeconds": 1,
                    "excludedStatusCodes": [
                      400,
                      401,
                      403,
                      404
                    ]
                  },
                  "variableExtractionPlan": null,
                  "rejectionPlan": null,
                  "_id": "69f98c2185578cdac8d33010"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request POST \\\\\n  --url https://voip-middlware.superu.ai/tool \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY' \\\\\n  --data '{\n  \"name\": \"Tool 1\",\n  \"type\": \"apiRequest\",\n  \"url\": \"https://www.google.com\",\n  \"description\": \"hehe\",\n  \"method\": \"GET\",\n  \"body\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"new\": {\n        \"type\": \"string\",\n        \"description\": \"2\"\n      }\n    }\n  },\n  \"headers\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"new\": {\n        \"type\": \"string\",\n        \"description\": \"2\"\n      }\n    }\n  },\n  \"timeoutSeconds\": 20\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\npayload = {\n    \"name\": \"Tool 1\",\n    \"type\": \"apiRequest\",\n    \"url\": \"https://www.google.com\",\n    \"description\": \"hehe\",\n    \"method\": \"GET\",\n    \"body\": {\n        \"type\": \"object\",\n        \"properties\": {\n            \"new\": {\n                \"type\": \"string\",\n                \"description\": \"2\"\n            }\n        }\n    },\n    \"headers\": {\n        \"type\": \"object\",\n        \"properties\": {\n            \"new\": {\n                \"type\": \"string\",\n                \"description\": \"2\"\n            }\n        }\n    },\n    \"timeoutSeconds\": 20\n}\n\nresponse = client.tools.create(**payload)\nprint(response)"
          }
        ]
      }
    },
    "/tool/list": {
      "post": {
        "tags": [
          "Tools"
        ],
        "summary": "List tools",
        "description": "Returns tools for the current account.",
        "operationId": "listTools",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToolListRequest"
              },
              "example": {
                "page": 1,
                "per_page": 20,
                "type": "apiRequest"
              }
            }
          },
          "description": "Request body for List tools."
        },
        "responses": {
          "200": {
            "description": "Tool list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "success": true,
                  "tools": [
                    {
                      "_id": "69f98c2185578cdac8d33010",
                      "tool_uuid": "0a425650-60ac-4fd4-9554-5579844ce3e2",
                      "user_id": "user_32UrXxvrVxWSYp1dGLsPdEldtRt",
                      "type": "apiRequest",
                      "createdAt": "2026-05-05T06:20:17.548000",
                      "updatedAt": "2026-05-05T06:20:17.548000",
                      "method": "GET",
                      "url": "https://www.google.com",
                      "name": "Tool 1",
                      "description": "api request",
                      "timeoutSeconds": 20,
                      "body": {},
                      "headers": {},
                      "messages": [],
                      "backoffPlan": {
                        "type": "fixed",
                        "maxRetries": 0,
                        "baseDelaySeconds": 1,
                        "excludedStatusCodes": [
                          400,
                          401,
                          403,
                          404
                        ]
                      },
                      "variableExtractionPlan": null,
                      "rejectionPlan": null
                    }
                  ],
                  "pagination": {
                    "total": 1,
                    "page": 1,
                    "per_page": 20,
                    "total_pages": 1
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request POST \\\\\n  --url https://voip-middlware.superu.ai/tool/list \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY' \\\\\n  --data '{\n  \"page\": 1,\n  \"per_page\": 20,\n  \"type\": \"apiRequest\"\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\npayload = {\n    \"page\": 1,\n    \"per_page\": 20,\n    \"type\": \"apiRequest\"\n}\n\nresponse = client.tools.list(**payload)\nprint(response)"
          }
        ]
      }
    },
    "/tool/{tool_id}": {
      "post": {
        "tags": [
          "Tools"
        ],
        "summary": "Get tool",
        "description": "Fetches one tool by ID.",
        "operationId": "getTool",
        "parameters": [
          {
            "name": "tool_id",
            "in": "path",
            "description": "Tool ID",
            "required": true,
            "schema": {
              "type": "string",
              "default": "0a425650-60ac-4fd4-9554-5579844ce3e5",
              "example": "0a425650-60ac-4fd4-9554-5579844ce3e5"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tool details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "_id": "69f98c2185578cdac8d33014",
                  "tool_uuid": "0a425650-60ac-4fd4-9554-5579844ce3e7",
                  "user_id": "user_32UrXxvrVxWSYp1dGLsPdElDtRu",
                  "type": "apiRequest",
                  "createdAt": "2026-05-05T06:20:17.548000",
                  "updatedAt": "2026-05-05T06:20:17.548000",
                  "method": "GET",
                  "url": "https://www.google.com",
                  "name": "New Tool",
                  "description": "new",
                  "timeoutSeconds": 20,
                  "body": {},
                  "headers": {},
                  "messages": [],
                  "backoffPlan": {
                    "type": "fixed",
                    "maxRetries": 0,
                    "baseDelaySeconds": 1,
                    "excludedStatusCodes": [
                      400,
                      401,
                      403,
                      404
                    ]
                  },
                  "variableExtractionPlan": null,
                  "rejectionPlan": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request POST \\\\\n  --url https://voip-middlware.superu.ai/tool/0a425650-60ac-4fd4-9554-5579844ce3e5 \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\ntool_id = \"0a425650-60ac-4fd4-9554-5579844ce3e5\"\n\nresponse = client.tools.get(tool_id)\nprint(response)"
          }
        ]
      },
      "delete": {
        "tags": [
          "Tools"
        ],
        "summary": "Delete tool",
        "description": "Deletes a tool by ID.",
        "operationId": "deleteTool",
        "parameters": [
          {
            "name": "tool_id",
            "in": "path",
            "description": "Tool ID",
            "required": true,
            "schema": {
              "type": "string",
              "example": "tool_01HXR9259WDZ2X3ZZKQ7HDG4C2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tool deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "status": "success",
                  "tool_id": "tool_01HXR9259WDZ2X3ZZKQ7HDG4C2",
                  "message": "Tool deleted"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request DELETE \\\\\n  --url https://voip-middlware.superu.ai/tool/tool_01HXR9259WDZ2X3ZZKQ7HDG4C2 \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\npayload = {\n    \"tool_id\": \"tool_01HXR9259WDZ2X3ZZKQ7HDG4C2\"\n}\n\nresponse = client.tools.delete(**payload)\nprint(response)"
          }
        ]
      }
    },
    "/tool/update/{tool_id}": {
      "post": {
        "tags": [
          "Tools"
        ],
        "summary": "Update tool",
        "description": "Updates fields on an existing tool.",
        "operationId": "updateTool",
        "parameters": [
          {
            "name": "tool_id",
            "in": "path",
            "description": "Tool ID",
            "required": true,
            "schema": {
              "type": "string",
              "default": "0a425650-60ac-4fd4-9554-5579844ce3e5",
              "example": "0a425650-60ac-4fd4-9554-5579844ce3e5"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToolUpdateRequest"
              },
              "example": {
                "name": "Tool 1",
                "type": "apiRequest",
                "url": "https://www.google.com",
                "description": "hehe",
                "method": "GET",
                "body": {
                  "type": "object",
                  "properties": {
                    "new": {
                      "type": "string",
                      "description": "2"
                    }
                  }
                },
                "headers": {
                  "type": "object",
                  "properties": {
                    "new": {
                      "type": "string",
                      "description": "2"
                    }
                  }
                },
                "timeoutSeconds": 20
              }
            }
          },
          "description": "Request body for Update tool."
        },
        "responses": {
          "200": {
            "description": "Tool updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "_id": "69f98c2185578cdac8d33015",
                  "tool_uuid": "0a425650-60ac-4fd4-9554-5579844ce3e8",
                  "user_id": "user_32UrXxvrVxWSYp1dGLsPdElDtRv",
                  "type": "apiRequest",
                  "createdAt": "2026-05-05T06:20:17.548000",
                  "updatedAt": "2026-05-05T07:58:28.020000",
                  "method": "GET",
                  "url": "https://www.google.com",
                  "name": "Tool 1",
                  "description": "hehe",
                  "timeoutSeconds": 20,
                  "body": {},
                  "headers": {},
                  "messages": [],
                  "backoffPlan": {
                    "type": "fixed",
                    "maxRetries": 0,
                    "baseDelaySeconds": 1,
                    "excludedStatusCodes": [
                      400,
                      401,
                      403,
                      404
                    ]
                  },
                  "variableExtractionPlan": null,
                  "rejectionPlan": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request POST \\\\\n  --url https://voip-middlware.superu.ai/tool/update/0a425650-60ac-4fd4-9554-5579844ce3e5 \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY' \\\\\n  --data '{\n  \"name\": \"Tool 1\",\n  \"type\": \"apiRequest\",\n  \"url\": \"https://www.google.com\",\n  \"description\": \"hehe\",\n  \"method\": \"GET\",\n  \"body\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"new\": {\n        \"type\": \"string\",\n        \"description\": \"2\"\n      }\n    }\n  },\n  \"headers\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"new\": {\n        \"type\": \"string\",\n        \"description\": \"2\"\n      }\n    }\n  },\n  \"timeoutSeconds\": 20\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\ntool_id = \"0a425650-60ac-4fd4-9554-5579844ce3e5\"\n\npayload = {\n    \"name\": \"Tool 1\",\n    \"type\": \"apiRequest\",\n    \"url\": \"https://www.google.com\",\n    \"description\": \"hehe\",\n    \"method\": \"GET\",\n    \"body\": {\n        \"type\": \"object\",\n        \"properties\": {\n            \"new\": {\n                \"type\": \"string\",\n                \"description\": \"2\"\n            }\n        }\n    },\n    \"headers\": {\n        \"type\": \"object\",\n        \"properties\": {\n            \"new\": {\n                \"type\": \"string\",\n                \"description\": \"2\"\n            }\n        }\n    },\n    \"timeoutSeconds\": 20\n}\n\nresponse = client.tools.update(tool_id, **payload)\nprint(response)"
          }
        ]
      }
    },
    "/folder/create": {
      "post": {
        "tags": [
          "Folders"
        ],
        "summary": "Create folder",
        "description": "Creates a new folder to organize agents.",
        "operationId": "createFolder",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FolderCreateRequest"
              },
              "example": {
                "folder_name": "Outbound Agents",
                "description": "Sales and support"
              }
            }
          },
          "description": "Request body for Create folder."
        },
        "responses": {
          "200": {
            "description": "Folder created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "success": true,
                  "folder": {
                    "folder_id": "25388237-72ba-46a9-b8b5-f0341939775c",
                    "user_id": "user_32UrXxvrVxWSYp1dGLsPdElDtRu",
                    "name": "Outbound Agents",
                    "description": "Sales and support",
                    "agent_ids": [],
                    "created_at": {
                      "$date": "2026-05-05T08:03:05.855Z"
                    },
                    "updated_at": {
                      "$date": "2026-05-05T08:03:05.855Z"
                    },
                    "_id": "69f9a4393fd42c4dfc2aaaa9"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request POST \\\\\n  --url https://voip-middlware.superu.ai/folder/create \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY' \\\\\n  --data '{\n  \"folder_name\": \"Outbound Agents\",\n  \"description\": \"Sales and support\"\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\npayload = {\n    \"folder_name\": \"Outbound Agents\",\n    \"description\": \"Sales and support\"\n}\n\nresponse = client.folders.create(**payload)\nprint(response)"
          }
        ]
      }
    },
    "/folder/list": {
      "post": {
        "tags": [
          "Folders"
        ],
        "summary": "List folders",
        "description": "Lists folders with pagination.",
        "operationId": "listFolders",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FolderListRequest"
              },
              "example": {
                "page": 1,
                "per_page": 20
              }
            }
          },
          "description": "Request body for List folders."
        },
        "responses": {
          "200": {
            "description": "Folder list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "success": true,
                  "folders": [
                    {
                      "_id": "69f9a4393fd42c4dfc2aaaa9",
                      "folder_id": "25388237-72ba-46a9-b8b5-f0341939775c",
                      "user_id": "user_32UrXxvrVxWSYp1dGLsPdElDtRu",
                      "name": "Outbound Agents",
                      "description": "Sales and support",
                      "agent_ids": [],
                      "created_at": {
                        "$date": "2026-05-05T08:03:05.855Z"
                      },
                      "updated_at": {
                        "$date": "2026-05-05T08:03:05.855Z"
                      },
                      "agent_count": 0
                    },
                    {
                      "_id": "698b090f0cc08f3e477484f6",
                      "folder_id": "a3740204-726f-4547-b0f8-8831a5147207",
                      "user_id": "user_32UrXxvrVxWSYp1dGLsPdElDtRu",
                      "name": "Template agents",
                      "description": "",
                      "agent_ids": [
                        "fad523e2-2645-4bc0-87ad-2b1727b1a939",
                        "f0a578ee-a48e-4731-93e1-bc7e3bf001c5",
                        "061ea565-3659-4ce6-936a-bc3ceac3099f",
                        "0fa77b60-25f9-4ac2-8b3f-6222dab19936",
                        "1baff16e-22fe-4091-b6ac-62356971a6e9",
                        "42f5f790-f0d8-4e6b-a55d-b68d727dd017",
                        "2afd255b-3166-415c-b823-9c21500dac0b",
                        "d4afb99c-fb12-40bb-8cea-9d7bba7bf177",
                        "856178f3-fecc-41e4-9576-c02f343ba476"
                      ],
                      "created_at": {
                        "$date": "2026-02-10T10:31:43.777Z"
                      },
                      "updated_at": {
                        "$date": "2026-02-19T12:29:10.978Z"
                      },
                      "agent_count": 9
                    }
                  ],
                  "pagination": {
                    "total": 1,
                    "page": 1,
                    "per_page": 20,
                    "total_pages": 1
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request POST \\\\\n  --url https://voip-middlware.superu.ai/folder/list \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY' \\\\\n  --data '{\n  \"page\": 1,\n  \"per_page\": 20\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\npayload = {\n    \"page\": 1,\n    \"per_page\": 20\n}\n\nresponse = client.folders.list(**payload)\nprint(response)"
          }
        ]
      }
    },
    "/folder/{folder_id}": {
      "post": {
        "tags": [
          "Folders"
        ],
        "summary": "Get folder",
        "description": "Gets details for one folder.",
        "operationId": "getFolder",
        "parameters": [
          {
            "name": "folder_id",
            "in": "path",
            "description": "Folder ID",
            "required": true,
            "schema": {
              "type": "string",
              "default": "a3740204-726f-4547-b0f8-8831a5147207",
              "example": "a3740204-726f-4547-b0f8-8831a5147207"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Folder details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "success": true,
                  "folder": {
                    "_id": "698b090f0cc08f3e477484f6",
                    "folder_id": "a3740204-726f-4547-b0f8-8831a5147207",
                    "user_id": "user_32UrXxvrVxWSYp1dGLsPdElDtRu",
                    "name": "Template agents",
                    "description": "",
                    "agent_ids": [
                      "fad523e2-2645-4bc0-87ad-2b1727b1a939"
                    ],
                    "created_at": {
                      "$date": "2026-02-10T10:31:43.777Z"
                    },
                    "updated_at": {
                      "$date": "2026-02-19T12:29:10.978Z"
                    },
                    "agents": [],
                    "agent_count": 1
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request POST \\\\\n  --url https://voip-middlware.superu.ai/folder/a3740204-726f-4547-b0f8-8831a5147207 \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\nfolder_id = \"a3740204-726f-4547-b0f8-8831a5147207\"\n\nresponse = client.folders.get(folder_id)\nprint(response)"
          }
        ]
      }
    },
    "/folder/update": {
      "post": {
        "tags": [
          "Folders"
        ],
        "summary": "Update folder",
        "description": "Updates a folder name and/or description.",
        "operationId": "updateFolder",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FolderUpdateRequest"
              },
              "example": {
                "folder_id": "25388237-72ba-46a9-b8b5-f0341939775c",
                "folder_name": "Outbound Team",
                "description": "Top of funnel campaigns"
              }
            }
          },
          "description": "Request body for Update folder."
        },
        "responses": {
          "200": {
            "description": "Folder updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "success": true,
                  "folder": {
                    "_id": "69f9a4393fd42c4dfc2aaaa9",
                    "folder_id": "25388237-72ba-46a9-b8b5-f0341939775c",
                    "user_id": "user_32UrXxvrVxWSYp1dGLsPdElDtRu",
                    "name": "Outbound Team",
                    "description": "Top of funnel campaigns",
                    "agent_ids": [],
                    "created_at": {
                      "$date": "2026-05-05T08:03:05.855Z"
                    },
                    "updated_at": {
                      "$date": "2026-05-05T08:07:13.690Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request POST \\\\\n  --url https://voip-middlware.superu.ai/folder/update \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY' \\\\\n  --data '{\n  \"folder_id\": \"25388237-72ba-46a9-b8b5-f0341939775c\",\n  \"folder_name\": \"Outbound Team\",\n  \"description\": \"Top of funnel campaigns\"\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\npayload = {\n    \"folder_id\": \"25388237-72ba-46a9-b8b5-f0341939775c\",\n    \"folder_name\": \"Outbound Team\",\n    \"description\": \"Top of funnel campaigns\"\n}\n\nresponse = client.folders.update(**payload)\nprint(response)"
          }
        ]
      }
    },
    "/folder/delete": {
      "post": {
        "tags": [
          "Folders"
        ],
        "summary": "Delete folder",
        "description": "Deletes a folder by ID.",
        "operationId": "deleteFolder",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FolderDeleteRequest"
              },
              "example": {
                "folder_id": "25388237-72ba-46a9-b8b5-f0341939775c"
              }
            }
          },
          "description": "Request body for Delete folder."
        },
        "responses": {
          "200": {
            "description": "Folder deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "success": true,
                  "message": "Folder deleted successfully"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request POST \\\\\n  --url https://voip-middlware.superu.ai/folder/delete \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY' \\\\\n  --data '{\n  \"folder_id\": \"25388237-72ba-46a9-b8b5-f0341939775c\"\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\npayload = {\n    \"folder_id\": \"25388237-72ba-46a9-b8b5-f0341939775c\"\n}\n\nresponse = client.folders.delete(**payload)\nprint(response)"
          }
        ]
      }
    },
    "/folder/assign-agent": {
      "post": {
        "tags": [
          "Folders"
        ],
        "summary": "Assign agent to folder",
        "description": "Assigns an agent to a folder.",
        "operationId": "assignAgentToFolder",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FolderAssignAgentRequest"
              },
              "example": {
                "agent_id": "04cf74f7-019b-4c3d-883c-610a42b32bc4",
                "folder_id": "25388237-72ba-46a9-b8b5-f0341939775c"
              }
            }
          },
          "description": "Request body for Assign agent to folder."
        },
        "responses": {
          "200": {
            "description": "Agent assigned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "success": true,
                  "message": "Agent assigned to folder successfully"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request POST \\\\\n  --url https://voip-middlware.superu.ai/folder/assign-agent \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY' \\\\\n  --data '{\n  \"agent_id\": \"04cf74f7-019b-4c3d-883c-610a42b32bc4\",\n  \"folder_id\": \"25388237-72ba-46a9-b8b5-f0341939775c\"\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\npayload = {\n    \"agent_id\": \"04cf74f7-019b-4c3d-883c-610a42b32bc4\",\n    \"folder_id\": \"25388237-72ba-46a9-b8b5-f0341939775c\"\n}\n\nresponse = client.folders.assign_agent(**payload)\nprint(response)"
          }
        ]
      }
    },
    "/folder/{folder_id}/agents": {
      "post": {
        "tags": [
          "Folders"
        ],
        "summary": "List folder agents",
        "description": "Lists agents assigned to a folder.",
        "operationId": "listFolderAgents",
        "parameters": [
          {
            "name": "folder_id",
            "in": "path",
            "description": "Folder ID",
            "required": true,
            "schema": {
              "type": "string",
              "default": "a3740204-726f-4547-b0f8-8831a5147207",
              "example": "a3740204-726f-4547-b0f8-8831a5147207"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FolderAgentsRequest"
              },
              "example": {
                "page": 1,
                "per_page": 20
              }
            }
          },
          "description": "Request body for List folder agents."
        },
        "responses": {
          "200": {
            "description": "Folder agents returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "success": true,
                  "agents": [
                    {
                      "_id": "69c228835c764b0c5ef71944",
                      "user_id": "user_32UrXxvrVxWSYp1dGLsPdElDtRu",
                      "name": "Acme Dental Clinic - AI Receptionist",
                      "company_name": "",
                      "vapi_assistant_id": "04cf74f7-019b-4c3d-883c-610a42b32bc4",
                      "voice_id": "EXAVITQu4vr4xnSDxMaL",
                      "speed": "1",
                      "bg_noice": "false",
                      "status": "active",
                      "created_at": {
                        "$date": "2026-03-24T06:00:35.877Z"
                      },
                      "first_message": "Thank you for calling Acme Dental Clinic! This is Emma. How can I help you today?",
                      "industry_id": "Healthcare",
                      "usecase_id": "Inbound Receptionist",
                      "type": "inbound",
                      "first_message_url": "https://static.pathora.in/plivo/EXAVITQu4vr4xnSDxMaL_3348c28e-a2a7-4e3f-8282-5feff0264674.mp3",
                      "call_forwarding": null,
                      "knowledge_base": null,
                      "composio_app": {}
                    }
                  ],
                  "pagination": {
                    "total": 1,
                    "page": 1,
                    "per_page": 20,
                    "total_pages": 1
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request POST \\\\\n  --url https://voip-middlware.superu.ai/folder/a3740204-726f-4547-b0f8-8831a5147207/agents \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY' \\\\\n  --data '{\n  \"page\": 1,\n  \"per_page\": 20\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\npayload = {\n    \"folder_id\": \"a3740204-726f-4547-b0f8-8831a5147207\",\n    \"page\": 1,\n    \"per_page\": 20\n}\n\nresponse = client.folders.get_agents(**payload)\nprint(response)"
          }
        ]
      }
    },
    "/contact/create": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Create contact",
        "description": "Creates a contact after validating fields.",
        "operationId": "createContact",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactCreateRequest"
              },
              "example": {
                "first_name": "Ava",
                "last_name": "Patel",
                "email": "ava.patel@example.com",
                "country_code": "+1",
                "phone_number": "5551234567",
                "audience_id": "a3740204-726f-4547-b0f8-8831a5147208"
              }
            }
          },
          "description": "Request body for Create contact."
        },
[...]
