{
  "openapi": "3.1.0",
  "info": {
    "title": "SuperU API",
    "description": "Comprehensive API reference for SuperU voice agents, calls, tools, contacts, audiences, and knowledge bases.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://voip-middlware.superu.ai",
      "description": "Production"
    }
  ],
  "security": [
    {
      "superUApiKey": []
    }
  ],
  "tags": [
    {
      "name": "Calls",
      "description": "Create and analyze calls."
    },
    {
      "name": "Agents",
      "description": "Create, list, import, update, and delete agents."
    },
    {
      "name": "Agent Versions",
      "description": "Manage versions for existing agents."
    },
    {
      "name": "Phone Numbers",
      "description": "Fetch phone numbers available in your account."
    },
    {
      "name": "Call Logs",
      "description": "Retrieve call history with filters."
    },
    {
      "name": "Tools",
      "description": "Create and manage callable tools."
    },
    {
      "name": "Folders",
      "description": "Organize agents into folders."
    },
    {
      "name": "Contacts",
      "description": "Create and list contacts."
    },
    {
      "name": "Audiences",
      "description": "Create and manage audiences and contacts."
    },
    {
      "name": "Knowledge Base",
      "description": "Upload and manage knowledge bases."
    }
  ],
  "paths": {
    "/pypi_support/twilio_call_create": {
      "post": {
        "tags": [
          "Calls"
        ],
        "summary": "Create Twilio call",
        "description": "Creates a Twilio call request for an assistant.",
        "operationId": "createTwilioCall",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TwilioCallCreateRequest"
              },
              "example": {
                "phoneNumberId": "pn_123",
                "to_": "+14155552671",
                "assistant_id": "ag_01HXR8FM5QYCVXAK4TYFJ4AEP0",
                "additional_payload": {
                  "key": "value"
                }
              }
            }
          },
          "description": "Request body for Create Twilio call."
        },
        "responses": {
          "200": {
            "description": "Twilio call request created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "status": "success",
                  "call_uuid": "aa39db9f-d9f5-45f4-b4fc-9fe49f14f9ed",
                  "message": "Call queued"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request POST \\\\\n  --url https://voip-middlware.superu.ai/pypi_support/twilio_call_create \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY' \\\\\n  --data '{\n  \"phoneNumberId\": \"pn_123\",\n  \"to_\": \"+14155552671\",\n  \"assistant_id\": \"ag_01HXR8FM5QYCVXAK4TYFJ4AEP0\",\n  \"additional_payload\": {\n    \"key\": \"value\"\n  }\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\npayload = {\n    \"phoneNumberId\": \"pn_123\",\n    \"to_\": \"+14155552671\",\n    \"assistant_id\": \"ag_01HXR8FM5QYCVXAK4TYFJ4AEP0\",\n    \"additional_payload\": {\n        \"key\": \"value\"\n    }\n}\n\nresponse = client.calls.create_twilio_call(**payload)\nprint(response)"
          }
        ]
      }
    },
    "/pypi_support/twilio_call_analysis": {
      "post": {
        "tags": [
          "Calls"
        ],
        "summary": "Analyze Twilio call",
        "description": "Analyzes a completed call and optionally extracts custom fields.",
        "operationId": "analyzeTwilioCall",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TwilioCallAnalysisRequest"
              },
              "example": {
                "call_uuid": "aa39db9f-d9f5-45f4-b4fc-9fe49f14f9ed",
                "custom_fields": []
              }
            }
          },
          "description": "Request body for Analyze Twilio call."
        },
        "responses": {
          "200": {
            "description": "Call analysis generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "status": "success",
                  "summary": "Caller asked about pricing and requested a callback.",
                  "custom_fields": {
                    "intent": "sales"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request POST \\\\\n  --url https://voip-middlware.superu.ai/pypi_support/twilio_call_analysis \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY' \\\\\n  --data '{\n  \"call_uuid\": \"aa39db9f-d9f5-45f4-b4fc-9fe49f14f9ed\",\n  \"custom_fields\": [\n    {\n      \"field\": \"intent\",\n      \"definition\": \"Primary intent of the caller\",\n      \"outputs_options\": [\n        \"sales\",\n        \"support\",\n        \"other\"\n      ]\n    }\n  ]\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\npayload = {\n    \"call_uuid\": \"aa39db9f-d9f5-45f4-b4fc-9fe49f14f9ed\",\n    \"custom_fields\": [\n        {\n            \"field\": \"intent\",\n            \"definition\": \"Primary intent of the caller\",\n            \"outputs_options\": [\n                \"sales\",\n                \"support\",\n                \"other\"\n            ]\n        }\n    ]\n}\n\nresponse = client.calls.analysis_twilio_call(**payload)\nprint(response)"
          }
        ]
      }
    },
    "/campaign/outbound/create_call/superu": {
      "post": {
        "tags": [
          "Calls"
        ],
        "summary": "Create outbound call",
        "description": "Creates an outbound campaign call for a configured assistant.",
        "operationId": "createOutboundCall",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OutboundCallCreateRequest"
              },
              "example": {
                "assistant_id": "ag_01HXR8FM5QYCVXAK4TYFJ4AEP0",
                "to": "+14155552671",
                "campaign_id": "demo_call",
                "customer_name": "Ava",
                "customer_id": "cust_123",
                "from": "+14155550000",
                "variable_values": {
                  "key": "value"
                }
              }
            }
          },
          "description": "Request body for Create outbound call."
        },
        "responses": {
          "200": {
            "description": "Outbound call created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "status": "success",
                  "call_uuid": "e8f87167-d4fd-44f2-b03a-24cb600f86f2",
                  "campaign_id": "demo_call",
                  "message": "Outbound call created"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request POST \\\\\n  --url https://voip-middlware.superu.ai/campaign/outbound/create_call/superu \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY' \\\\\n  --data '{\n  \"assistant_id\": \"ag_01HXR8FM5QYCVXAK4TYFJ4AEP0\",\n  \"to\": \"+14155552671\",\n  \"from\": \"+14155550000\",\n  \"campaign_id\": \"demo_call\",\n  \"customer_name\": \"Ava\",\n  \"customer_id\": \"cust_123\",\n  \"variable_values\": {\n    \"key\": \"value\"\n  }\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\npayload = {\n    \"assistant_id\": \"ag_01HXR8FM5QYCVXAK4TYFJ4AEP0\",\n    \"to\": \"+14155552671\",\n    \"from\": \"+14155550000\",\n    \"campaign_id\": \"demo_call\",\n    \"customer_name\": \"Ava\",\n    \"customer_id\": \"cust_123\",\n    \"variable_values\": {\n        \"key\": \"value\"\n    }\n}\n\nresponse = client.calls.create_outbound_call(**payload)\nprint(response)"
          }
        ]
      }
    },
    "/call-status": {
      "get": {
        "tags": [
          "Calls"
        ],
        "summary": "Get call status",
        "description": "Returns status details for a call by UUID.",
        "operationId": "getCallStatus",
        "parameters": [
          {
            "name": "call_uuid",
            "in": "query",
            "description": "UUID of the call to query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "e8f87167-d4fd-44f2-b03a-24cb600f86f2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Call status response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "status": "success",
                  "call_uuid": "e8f87167-d4fd-44f2-b03a-24cb600f86f2",
                  "call_status": "completed",
                  "message": "Call status fetched successfully"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request GET \\\\\n  --url 'https://voip-middlware.superu.ai/call-status?call_uuid=e8f87167-d4fd-44f2-b03a-24cb600f86f2' \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\nresponse = client.calls.get_call_status(\n    call_uuid=\"e8f87167-d4fd-44f2-b03a-24cb600f86f2\"\n)\nprint(response)"
          }
        ]
      }
    },
    "/agent/create": {
      "post": {
        "tags": [
          "Agents"
        ],
        "summary": "Create agent",
        "description": "Creates a new SuperU voice agent.",
        "operationId": "createAgent",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentCreateRequest"
              },
              "example": {
                "type": "outbound",
                "name": "Demo Assistant",
                "company_name": "SuperU",
                "assistant_name": "Ava",
                "first_message": "Hi, thanks for taking the call.",
                "voice": "90ipbRoKi4CpHXvKVtl0",
                "voice_id": "90ipbRoKi4CpHXvKVtl0",
                "voice_provider": "11labs",
                "speed": "1.0",
                "bg_noice": "false",
                "backgroundNoise": false,
                "script": "You are a friendly assistant.",
                "industry": "Blank Template",
                "useCase": "Blank Template",
                "form_model": {
                  "key": "value"
                },
                "assistant_data": {
                  "key": "value"
                },
                "knowledgeBase": [
                  "kb_abc123"
                ],
                "tools": [
                  "tool_01HXR9259WDZ2X3ZZKQ7HDG4C2"
                ],
                "call_forwarding": {
                  "key": "value"
                }
              }
            }
          },
          "description": "Request body for Create agent."
        },
        "responses": {
          "200": {
            "description": "Agent created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "status": "success",
                  "agent_id": "ag_01HXR8FM5QYCVXAK4TYFJ4AEP0",
                  "message": "Agent created successfully"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request POST \\\\\n  --url https://voip-middlware.superu.ai/agent/create \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY' \\\\\n  --data '{\n  \"type\": \"outbound\",\n  \"name\": \"Demo Assistant\",\n  \"company_name\": \"SuperU\",\n  \"assistant_name\": \"Ava\",\n  \"first_message\": \"Hi, thanks for taking the call.\",\n  \"voice\": \"90ipbRoKi4CpHXvKVtl0\",\n  \"voice_id\": \"90ipbRoKi4CpHXvKVtl0\",\n  \"voice_provider\": \"11labs\",\n  \"speed\": \"1.0\",\n  \"bg_noice\": \"false\",\n  \"backgroundNoise\": false,\n  \"script\": \"You are a friendly assistant.\",\n  \"industry\": \"Blank Template\",\n  \"useCase\": \"Blank Template\",\n  \"form_model\": {\n    \"key\": \"value\"\n  },\n  \"assistant_data\": {\n    \"key\": \"value\"\n  },\n  \"knowledgeBase\": [\n    \"kb_abc123\"\n  ],\n  \"tools\": [\n    \"tool_01HXR9259WDZ2X3ZZKQ7HDG4C2\"\n  ],\n  \"call_forwarding\": {\n    \"key\": \"value\"\n  }\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\npayload = {\n    \"type\": \"outbound\",\n    \"name\": \"Demo Assistant\",\n    \"company_name\": \"SuperU\",\n    \"assistant_name\": \"Ava\",\n    \"first_message\": \"Hi, thanks for taking the call.\",\n    \"voice\": \"90ipbRoKi4CpHXvKVtl0\",\n    \"voice_id\": \"90ipbRoKi4CpHXvKVtl0\",\n    \"voice_provider\": \"11labs\",\n    \"speed\": \"1.0\",\n    \"bg_noice\": \"false\",\n    \"backgroundNoise\": False,\n    \"script\": \"You are a friendly assistant.\",\n    \"industry\": \"Blank Template\",\n    \"useCase\": \"Blank Template\",\n    \"form_model\": {\n        \"key\": \"value\"\n    },\n    \"assistant_data\": {\n        \"key\": \"value\"\n    },\n    \"knowledgeBase\": [\n        \"kb_abc123\"\n    ],\n    \"tools\": [\n        \"tool_01HXR9259WDZ2X3ZZKQ7HDG4C2\"\n    ],\n    \"call_forwarding\": {\n        \"key\": \"value\"\n    }\n}\n\nresponse = client.agents.create_agent(**payload)\nprint(response)"
          }
        ]
      }
    },
    "/agent/list": {
      "post": {
        "tags": [
          "Agents"
        ],
        "summary": "List agents",
        "description": "Lists agents with pagination and optional filters.",
        "operationId": "listAgents",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "example": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items per page",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20,
              "example": 20
            }
          },
          {
            "name": "inbound_or_outbound",
            "in": "query",
            "description": "Optional direction filter",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "inbound",
                "outbound"
              ],
              "example": "outbound"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentListRequest"
              },
              "example": {
                "search_query": "sales"
              }
            }
          },
          "description": "Request body for List agents."
        },
        "responses": {
          "200": {
            "description": "Agent list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "status": "success",
                  "agent_list": [
                    {
                      "vapi_assistant_id": "ag_01HXR8FM5QYCVXAK4TYFJ4AEP0",
                      "name": "Sales Agent",
                      "type": "outbound"
                    }
                  ],
                  "page": 1,
                  "limit": 20
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request POST \\\\\n  --url https://voip-middlware.superu.ai/agent/list?page=1&limit=20&inbound_or_outbound=outbound \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY' \\\\\n  --data '{\n  \"search_query\": \"sales\"\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\npayload = {\n    \"page\": \"1\",\n    \"limit\": \"20\",\n    \"inbound_or_outbound\": \"outbound\",\n    \"search_query\": \"sales\"\n}\n\nresponse = client.agents.list(**payload)\nprint(response)"
          }
        ]
      }
    },
    "/agent/update/name": {
      "post": {
        "tags": [
          "Agents"
        ],
        "summary": "Update agent name",
        "description": "Updates the display name of an existing agent.",
        "operationId": "updateAgentName",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentUpdateNameRequest"
              },
              "example": {
                "agent_id": "ag_01HXR8FM5QYCVXAK4TYFJ4AEP0",
                "name": "Sales Assistant V2"
              }
            }
          },
          "description": "Request body for Update agent name."
        },
        "responses": {
          "200": {
            "description": "Agent name updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "status": "success",
                  "agent_id": "ag_01HXR8FM5QYCVXAK4TYFJ4AEP0",
                  "name": "Sales Assistant V2",
                  "message": "Agent name updated"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request POST \\\\\n  --url https://voip-middlware.superu.ai/agent/update/name \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY' \\\\\n  --data '{\n  \"agent_id\": \"ag_01HXR8FM5QYCVXAK4TYFJ4AEP0\",\n  \"name\": \"Sales Assistant V2\"\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\npayload = {\n    \"agent_id\": \"ag_01HXR8FM5QYCVXAK4TYFJ4AEP0\",\n    \"name\": \"Sales Assistant V2\"\n}\n\nresponse = client.agents.update_name(**payload)\nprint(response)"
          }
        ]
      }
    },
    "/agent/delete": {
      "post": {
        "tags": [
          "Agents"
        ],
        "summary": "Delete agent",
        "description": "Deletes an agent by object ID.",
        "operationId": "deleteAgent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentDeleteRequest"
              },
              "example": {
                "agent_object_id": "66d3f3417bc4a5d5f8b7c8f4"
              }
            }
          },
          "description": "Request body for Delete agent."
        },
        "responses": {
          "200": {
            "description": "Agent deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "status": "success",
                  "agent_object_id": "66d3f3417bc4a5d5f8b7c8f4",
                  "message": "Agent deleted"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request POST \\\\\n  --url https://voip-middlware.superu.ai/agent/delete \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY' \\\\\n  --data '{\n  \"agent_object_id\": \"66d3f3417bc4a5d5f8b7c8f4\"\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\npayload = {\n    \"agent_object_id\": \"66d3f3417bc4a5d5f8b7c8f4\"\n}\n\nresponse = client.agents.delete(**payload)\nprint(response)"
          }
        ]
      }
    },
    "/agent/version/create": {
      "post": {
        "tags": [
          "Agent Versions"
        ],
        "summary": "Create agent version",
        "description": "Creates a new version for an existing agent.",
        "operationId": "createAgentVersion",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentVersionCreateRequest"
              },
              "example": {
                "agent_id": "ag_01HXR8FM5QYCVXAK4TYFJ4AEP0",
                "version": "v2",
                "assistant_data": {
                  "key": "value"
                },
                "knowledgeBase": [
                  "kb_01HXRA4N5B8Q0SJC0F30Z8W0DT"
                ],
                "tools": [
                  "tool_01HXR9259WDZ2X3ZZKQ7HDG4C2"
                ],
                "call_forwarding": {
                  "key": "value"
                }
              }
            }
          },
          "description": "Request body for Create agent version."
        },
        "responses": {
          "200": {
            "description": "Version created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "status": "success",
                  "version_id": "ver_01HXR8Q2S3E4YQH0RQ5K2V7A8D",
                  "version": "v2",
                  "message": "Version created"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request POST \\\\\n  --url https://voip-middlware.superu.ai/agent/version/create \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY' \\\\\n  --data '{\n  \"agent_id\": \"ag_01HXR8FM5QYCVXAK4TYFJ4AEP0\",\n  \"version\": \"v2\",\n  \"assistant_data\": {\n    \"key\": \"value\"\n  },\n  \"knowledgeBase\": [\n    \"kb_01HXRA4N5B8Q0SJC0F30Z8W0DT\"\n  ],\n  \"tools\": [\n    \"tool_01HXR9259WDZ2X3ZZKQ7HDG4C2\"\n  ],\n  \"call_forwarding\": {\n    \"key\": \"value\"\n  }\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\npayload = {\n    \"agent_id\": \"ag_01HXR8FM5QYCVXAK4TYFJ4AEP0\",\n    \"version\": \"v2\",\n    \"assistant_data\": {\n        \"key\": \"value\"\n    },\n    \"knowledgeBase\": [\n        \"kb_01HXRA4N5B8Q0SJC0F30Z8W0DT\"\n    ],\n    \"tools\": [\n        \"tool_01HXR9259WDZ2X3ZZKQ7HDG4C2\"\n    ],\n    \"call_forwarding\": {\n        \"key\": \"value\"\n    }\n}\n\nresponse = client.agents.create_version(**payload)\nprint(response)"
          }
        ]
      }
    },
    "/agent/version/update": {
      "post": {
        "tags": [
          "Agent Versions"
        ],
        "summary": "Update agent version",
        "description": "Updates an existing agent version.",
        "operationId": "updateAgentVersion",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentVersionUpdateRequest"
              },
              "example": {
                "agent_id": "ag_01HXR8FM5QYCVXAK4TYFJ4AEP0",
                "version_id": "ver_01HXR8Q2S3E4YQH0RQ5K2V7A8D",
                "version": "v2.1",
                "assistant_data": {
                  "key": "value"
                },
                "composio-app": {
                  "key": "value"
                }
              }
            }
          },
          "description": "Request body for Update agent version."
        },
        "responses": {
          "200": {
            "description": "Version updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "status": "success",
                  "version_id": "ver_01HXR8Q2S3E4YQH0RQ5K2V7A8D",
                  "message": "Version updated"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request POST \\\\\n  --url https://voip-middlware.superu.ai/agent/version/update \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY' \\\\\n  --data '{\n  \"agent_id\": \"ag_01HXR8FM5QYCVXAK4TYFJ4AEP0\",\n  \"version_id\": \"ver_01HXR8Q2S3E4YQH0RQ5K2V7A8D\",\n  \"version\": \"v2.1\",\n  \"assistant_data\": {\n    \"key\": \"value\"\n  },\n  \"composio-app\": {\n    \"key\": \"value\"\n  }\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\npayload = {\n    \"agent_id\": \"ag_01HXR8FM5QYCVXAK4TYFJ4AEP0\",\n    \"version_id\": \"ver_01HXR8Q2S3E4YQH0RQ5K2V7A8D\",\n    \"version\": \"v2.1\",\n    \"assistant_data\": {\n        \"key\": \"value\"\n    },\n    \"composio-app\": {\n        \"key\": \"value\"\n    }\n}\n\nresponse = client.agents.update_version(**payload)\nprint(response)"
          }
        ]
      }
    },
    "/agent/version/get": {
      "post": {
        "tags": [
          "Agent Versions"
        ],
        "summary": "Get agent version",
        "description": "Fetches one version for an agent by version label.",
        "operationId": "getAgentVersion",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentVersionGetRequest"
              },
              "example": {
                "agent_id": "ag_01HXR8FM5QYCVXAK4TYFJ4AEP0",
                "version": "v2"
              }
            }
          },
          "description": "Request body for Get agent version."
        },
        "responses": {
          "200": {
            "description": "Version retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "status": "success",
                  "agent_id": "ag_01HXR8FM5QYCVXAK4TYFJ4AEP0",
                  "version": "v2",
                  "assistant_data": {
                    "first_message": "Hello from version 2"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request POST \\\\\n  --url https://voip-middlware.superu.ai/agent/version/get \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY' \\\\\n  --data '{\n  \"agent_id\": \"ag_01HXR8FM5QYCVXAK4TYFJ4AEP0\",\n  \"version\": \"v2\"\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\npayload = {\n    \"agent_id\": \"ag_01HXR8FM5QYCVXAK4TYFJ4AEP0\",\n    \"version\": \"v2\"\n}\n\nresponse = client.agents.get_version(**payload)\nprint(response)"
          }
        ]
      }
    },
    "/agent/version/list": {
      "post": {
        "tags": [
          "Agent Versions"
        ],
        "summary": "List agent versions",
        "description": "Lists all versions for an agent.",
        "operationId": "listAgentVersions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentVersionListRequest"
              },
              "example": {
                "agent_id": "ag_01HXR8FM5QYCVXAK4TYFJ4AEP0"
              }
            }
          },
          "description": "Request body for List agent versions."
        },
        "responses": {
          "200": {
            "description": "Version list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "status": "success",
                  "versions": [
                    {
                      "version_id": "ver_01HXR8Q2S3E4YQH0RQ5K2V7A8D",
                      "version": "v2"
                    },
                    {
                      "version_id": "ver_01HXR8Q2S3E4YQH0RQ5K2V7A1N",
                      "version": "v1"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request POST \\\\\n  --url https://voip-middlware.superu.ai/agent/version/list \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY' \\\\\n  --data '{\n  \"agent_id\": \"ag_01HXR8FM5QYCVXAK4TYFJ4AEP0\"\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\npayload = {\n    \"agent_id\": \"ag_01HXR8FM5QYCVXAK4TYFJ4AEP0\"\n}\n\nresponse = client.agents.list_versions(**payload)\nprint(response)"
          }
        ]
      }
    },
    "/agent/version/deploy": {
      "post": {
        "tags": [
          "Agent Versions"
        ],
        "summary": "Deploy agent version",
        "description": "Deploys a version for an agent.",
        "operationId": "deployAgentVersion",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentVersionDeployRequest"
              },
              "example": {
                "agent_id": "ag_01HXR8FM5QYCVXAK4TYFJ4AEP0",
                "version_id": "ver_01HXR8Q2S3E4YQH0RQ5K2V7A8D"
              }
            }
          },
          "description": "Request body for Deploy agent version."
        },
        "responses": {
          "200": {
            "description": "Version deployed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "status": "success",
                  "version_id": "ver_01HXR8Q2S3E4YQH0RQ5K2V7A8D",
                  "message": "Version deployed"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request POST \\\\\n  --url https://voip-middlware.superu.ai/agent/version/deploy \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY' \\\\\n  --data '{\n  \"agent_id\": \"ag_01HXR8FM5QYCVXAK4TYFJ4AEP0\",\n  \"version_id\": \"ver_01HXR8Q2S3E4YQH0RQ5K2V7A8D\"\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\npayload = {\n    \"agent_id\": \"ag_01HXR8FM5QYCVXAK4TYFJ4AEP0\",\n    \"version_id\": \"ver_01HXR8Q2S3E4YQH0RQ5K2V7A8D\"\n}\n\nresponse = client.agents.deploy_version(**payload)\nprint(response)"
          }
        ]
      }
    },
    "/phoneNumber/owned": {
      "post": {
        "tags": [
          "Phone Numbers"
        ],
        "summary": "Get owned phone numbers",
        "description": "Returns phone numbers owned by the authenticated account.",
        "operationId": "getOwnedPhoneNumbers",
        "responses": {
          "200": {
            "description": "Owned numbers returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "status": "success",
                  "phone_numbers": [
                    {
                      "phoneNumberId": "pn_123",
                      "number": "+14155552671"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request POST \\\\\n  --url https://voip-middlware.superu.ai/phoneNumber/owned \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\nresponse = client.phone_numbers.get_owned()\nprint(response)"
          }
        ]
      }
    },
    "/call-logs/{assistant_id}": {
      "post": {
        "tags": [
          "Call Logs"
        ],
        "summary": "Get call logs and analysis",
        "description": "Returns detailed call logs, including transcripts, recordings, and AI generated analysis.",
        "operationId": "getCallLogs",
        "parameters": [
          {
            "name": "assistant_id",
            "in": "path",
            "description": "Assistant ID or `all`",
            "required": true,
            "schema": {
              "type": "string",
              "example": "all"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Records per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100,
              "example": 20
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1,
              "example": 1
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Upper timestamp/date bound",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2026-02-01T00:00:00Z"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Lower timestamp/date bound",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2026-01-01T00:00:00Z"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Call status filter",
            "required": false,
            "schema": {
              "type": "string",
              "example": "completed"
            }
          },
          {
            "name": "call_uuid",
            "in": "query",
            "description": "Call UUID filter",
            "required": false,
            "schema": {
              "type": "string",
              "example": "aa39db9f-d9f5-45f4-b4fc-9fe49f14f9ed"
            }
          },
          {
            "name": "campaign_id",
            "in": "query",
            "description": "Campaign filter",
            "required": false,
            "schema": {
              "type": "string",
              "example": "demo_call"
            }
          },
          {
            "name": "search_query",
            "in": "query",
            "description": "Search filter",
            "required": false,
            "schema": {
              "type": "string",
              "example": "Ava"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Call logs returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "status": "success",
                  "logs": [
                    {
                      "call_uuid": "e8f87167-d4fd-44f2-b03a-24cb600f86f2",
                      "to": "+14155552671",
                      "status": "completed"
                    }
                  ],
                  "page": 1,
                  "limit": 20
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request POST \\\\\n  --url https://voip-middlware.superu.ai/call-logs/all?limit=20&page=1&before=2026-02-01T00%3A00%3A00Z&after=2026-01-01T00%3A00%3A00Z&status=completed&campaign_id=demo_call&search_query=Ava \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\npayload = {\n    \"assistant_id\": \"all\",\n    \"limit\": \"20\",\n    \"page\": \"1\",\n    \"before\": \"2026-02-01T00:00:00Z\",\n    \"after\": \"2026-01-01T00:00:00Z\",\n    \"status\": \"completed\",\n    \"campaign_id\": \"demo_call\",\n    \"search_query\": \"Ava\"\n}\n\nresponse = client.call_logs.get_logs(**payload)\nprint(response)"
          }
        ]
      }
    },
    "/tool": {
      "post": {
        "tags": [
          "Tools"
        ],
        "summary": "Create tool",
        "description": "Creates a callable tool for agents.",
        "operationId": "createTool",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToolCreateRequest"
              },
              "example": {
                "name": "check-user-status",
                "description": "Check if a user exists in the database",
                "parameters": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "description": "User email"
                    }
                  },
                  "required": [
                    "email"
                  ]
                },
                "tool_url": "/api/check-user",
                "tool_url_domain": "https://your-api.com",
                "type": "http",
                "async_": false
              }
            }
          },
          "description": "Request body for Create tool."
        },
        "responses": {
          "201": {
            "description": "Tool created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "status": "success",
                  "tool_id": "tool_01HXR9259WDZ2X3ZZKQ7HDG4C2",
                  "message": "Tool created"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request POST \\\\\n  --url https://voip-middlware.superu.ai/tool \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY' \\\\\n  --data '{\n  \"name\": \"check-user-status\",\n  \"description\": \"Check if a user exists in the database\",\n  \"parameters\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"email\": {\n        \"type\": \"string\",\n        \"description\": \"User email\"\n      }\n    },\n    \"required\": [\n      \"email\"\n    ]\n  },\n  \"tool_url\": \"/api/check-user\",\n  \"tool_url_domain\": \"https://your-api.com\",\n  \"type\": \"http\",\n  \"async_\": false\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\npayload = {\n    \"name\": \"check-user-status\",\n    \"description\": \"Check if a user exists in the database\",\n    \"parameters\": {\n        \"type\": \"object\",\n        \"properties\": {\n            \"email\": {\n                \"type\": \"string\",\n                \"description\": \"User email\"\n            }\n        },\n        \"required\": [\n            \"email\"\n        ]\n    },\n    \"tool_url\": \"/api/check-user\",\n    \"tool_url_domain\": \"https://your-api.com\",\n    \"type\": \"http\",\n    \"async_\": False\n}\n\nresponse = client.tools.create(**payload)\nprint(response)"
          }
        ]
      }
    },
    "/tool/list": {
      "post": {
        "tags": [
          "Tools"
        ],
        "summary": "List tools",
        "description": "Returns tools for the current account.",
        "operationId": "listTools",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToolListRequest"
              },
              "example": {
                "page": 1,
                "per_page": 20,
                "type": "http"
              }
            }
          },
          "description": "Request body for List tools."
        },
        "responses": {
          "200": {
            "description": "Tool list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "status": "success",
                  "tool_list": [
                    {
                      "tool_id": "tool_01HXR9259WDZ2X3ZZKQ7HDG4C2",
                      "name": "check-user-status",
                      "type": "http"
                    }
                  ],
                  "page": 1,
                  "per_page": 20
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request POST \\\\\n  --url https://voip-middlware.superu.ai/tool/list \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY' \\\\\n  --data '{\n  \"page\": 1,\n  \"per_page\": 20,\n  \"type\": \"http\"\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\npayload = {\n    \"page\": 1,\n    \"per_page\": 20,\n    \"type\": \"http\"\n}\n\nresponse = client.tools.list(**payload)\nprint(response)"
          }
        ]
      }
    },
    "/tool/{tool_id}": {
      "get": {
        "tags": [
          "Tools"
        ],
        "summary": "Get tool",
        "description": "Fetches one tool by ID.",
        "operationId": "getTool",
        "parameters": [
          {
            "name": "tool_id",
            "in": "path",
            "description": "Tool ID",
            "required": true,
            "schema": {
              "type": "string",
              "example": "tool_01HXR9259WDZ2X3ZZKQ7HDG4C2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tool details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "status": "success",
                  "tool": {
                    "tool_id": "tool_01HXR9259WDZ2X3ZZKQ7HDG4C2",
                    "name": "check-user-status",
                    "description": "Check if a user exists"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request GET \\\\\n  --url https://voip-middlware.superu.ai/tool/tool_01HXR9259WDZ2X3ZZKQ7HDG4C2 \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\npayload = {\n    \"tool_id\": \"tool_01HXR9259WDZ2X3ZZKQ7HDG4C2\"\n}\n\nresponse = client.tools.get(**payload)\nprint(response)"
          }
        ]
      },
      "patch": {
        "tags": [
          "Tools"
        ],
        "summary": "Update tool",
        "description": "Updates fields on an existing tool.",
        "operationId": "updateTool",
        "parameters": [
          {
            "name": "tool_id",
            "in": "path",
            "description": "Tool ID",
            "required": true,
            "schema": {
              "type": "string",
              "example": "tool_01HXR9259WDZ2X3ZZKQ7HDG4C2"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToolUpdateRequest"
              },
              "example": {
                "name": "check-user-status-v2",
                "description": "Check if a user exists in CRM",
                "parameters": {
                  "key": "value"
                },
                "tool_url": "/api/check-user",
                "tool_url_domain": "https://your-api.com",
                "type": "http",
                "async_": false
              }
            }
          },
          "description": "Request body for Update tool."
        },
        "responses": {
          "200": {
            "description": "Tool updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "status": "success",
                  "tool_id": "tool_01HXR9259WDZ2X3ZZKQ7HDG4C2",
                  "message": "Tool updated"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request PATCH \\\\\n  --url https://voip-middlware.superu.ai/tool/tool_01HXR9259WDZ2X3ZZKQ7HDG4C2 \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY' \\\\\n  --data '{\n  \"name\": \"check-user-status-v2\",\n  \"description\": \"Check if a user exists in CRM\",\n  \"parameters\": {\n    \"key\": \"value\"\n  },\n  \"tool_url\": \"/api/check-user\",\n  \"tool_url_domain\": \"https://your-api.com\",\n  \"type\": \"http\",\n  \"async_\": false\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\npayload = {\n    \"tool_id\": \"tool_01HXR9259WDZ2X3ZZKQ7HDG4C2\",\n    \"name\": \"check-user-status-v2\",\n    \"description\": \"Check if a user exists in CRM\",\n    \"parameters\": {\n        \"key\": \"value\"\n    },\n    \"tool_url\": \"/api/check-user\",\n    \"tool_url_domain\": \"https://your-api.com\",\n    \"type\": \"http\",\n    \"async_\": False\n}\n\nresponse = client.tools.update(**payload)\nprint(response)"
          }
        ]
      },
      "delete": {
        "tags": [
          "Tools"
        ],
        "summary": "Delete tool",
        "description": "Deletes a tool by ID.",
        "operationId": "deleteTool",
        "parameters": [
          {
            "name": "tool_id",
            "in": "path",
            "description": "Tool ID",
            "required": true,
            "schema": {
              "type": "string",
              "example": "tool_01HXR9259WDZ2X3ZZKQ7HDG4C2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tool deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "status": "success",
                  "tool_id": "tool_01HXR9259WDZ2X3ZZKQ7HDG4C2",
                  "message": "Tool deleted"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request DELETE \\\\\n  --url https://voip-middlware.superu.ai/tool/tool_01HXR9259WDZ2X3ZZKQ7HDG4C2 \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\npayload = {\n    \"tool_id\": \"tool_01HXR9259WDZ2X3ZZKQ7HDG4C2\"\n}\n\nresponse = client.tools.delete(**payload)\nprint(response)"
          }
        ]
      }
    },
    "/folder/create": {
      "post": {
        "tags": [
          "Folders"
        ],
        "summary": "Create folder",
        "description": "Creates a new folder to organize agents.",
        "operationId": "createFolder",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FolderCreateRequest"
              },
              "example": {
                "folder_name": "Outbound Agents",
                "description": "Sales and support"
              }
            }
          },
          "description": "Request body for Create folder."
        },
        "responses": {
          "200": {
            "description": "Folder created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "status": "success",
                  "folder_id": "fld_01HXR9A3RWQXTQED0KH43WSYH1",
                  "message": "Folder created"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request POST \\\\\n  --url https://voip-middlware.superu.ai/folder/create \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY' \\\\\n  --data '{\n  \"folder_name\": \"Outbound Agents\",\n  \"description\": \"Sales and support\"\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\npayload = {\n    \"folder_name\": \"Outbound Agents\",\n    \"description\": \"Sales and support\"\n}\n\nresponse = client.folders.create(**payload)\nprint(response)"
          }
        ]
      }
    },
    "/folder/list": {
      "post": {
        "tags": [
          "Folders"
        ],
        "summary": "List folders",
        "description": "Lists folders with pagination.",
        "operationId": "listFolders",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FolderListRequest"
              },
              "example": {
                "page": 1,
                "per_page": 20
              }
            }
          },
          "description": "Request body for List folders."
        },
        "responses": {
          "200": {
            "description": "Folder list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "status": "success",
                  "folder_list": [
                    {
                      "folder_id": "fld_01HXR9A3RWQXTQED0KH43WSYH1",
                      "folder_name": "Outbound Agents"
                    }
                  ],
                  "page": 1,
                  "per_page": 20
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request POST \\\\\n  --url https://voip-middlware.superu.ai/folder/list \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY' \\\\\n  --data '{\n  \"page\": 1,\n  \"per_page\": 20\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\npayload = {\n    \"page\": 1,\n    \"per_page\": 20\n}\n\nresponse = client.folders.list(**payload)\nprint(response)"
          }
        ]
      }
    },
    "/folder/{folder_id}": {
      "post": {
        "tags": [
          "Folders"
        ],
        "summary": "Get folder",
        "description": "Gets details for one folder.",
        "operationId": "getFolder",
        "parameters": [
          {
            "name": "folder_id",
            "in": "path",
            "description": "Folder ID",
            "required": true,
            "schema": {
              "type": "string",
              "example": "fld_01HXR9A3RWQXTQED0KH43WSYH1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Folder details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "status": "success",
                  "folder": {
                    "folder_id": "fld_01HXR9A3RWQXTQED0KH43WSYH1",
                    "folder_name": "Outbound Agents",
                    "description": "Sales and support"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request POST \\\\\n  --url https://voip-middlware.superu.ai/folder/fld_01HXR9A3RWQXTQED0KH43WSYH1 \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\npayload = {\n    \"folder_id\": \"fld_01HXR9A3RWQXTQED0KH43WSYH1\"\n}\n\nresponse = client.folders.get(**payload)\nprint(response)"
          }
        ]
      }
    },
    "/folder/update": {
      "post": {
        "tags": [
          "Folders"
        ],
        "summary": "Update folder",
        "description": "Updates a folder name and/or description.",
        "operationId": "updateFolder",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FolderUpdateRequest"
              },
              "example": {
                "folder_id": "fld_01HXR9A3RWQXTQED0KH43WSYH1",
                "folder_name": "Outbound Team",
                "description": "Top of funnel campaigns"
              }
            }
          },
          "description": "Request body for Update folder."
        },
        "responses": {
          "200": {
            "description": "Folder updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "status": "success",
                  "folder_id": "fld_01HXR9A3RWQXTQED0KH43WSYH1",
                  "message": "Folder updated"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request POST \\\\\n  --url https://voip-middlware.superu.ai/folder/update \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY' \\\\\n  --data '{\n  \"folder_id\": \"fld_01HXR9A3RWQXTQED0KH43WSYH1\",\n  \"folder_name\": \"Outbound Team\",\n  \"description\": \"Top of funnel campaigns\"\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\npayload = {\n    \"folder_id\": \"fld_01HXR9A3RWQXTQED0KH43WSYH1\",\n    \"folder_name\": \"Outbound Team\",\n    \"description\": \"Top of funnel campaigns\"\n}\n\nresponse = client.folders.update(**payload)\nprint(response)"
          }
        ]
      }
    },
    "/folder/delete": {
      "post": {
        "tags": [
          "Folders"
        ],
        "summary": "Delete folder",
        "description": "Deletes a folder by ID.",
        "operationId": "deleteFolder",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FolderDeleteRequest"
              },
              "example": {
                "folder_id": "fld_01HXR9A3RWQXTQED0KH43WSYH1"
              }
            }
          },
          "description": "Request body for Delete folder."
        },
        "responses": {
          "200": {
            "description": "Folder deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "status": "success",
                  "folder_id": "fld_01HXR9A3RWQXTQED0KH43WSYH1",
                  "message": "Folder deleted"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request POST \\\\\n  --url https://voip-middlware.superu.ai/folder/delete \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY' \\\\\n  --data '{\n  \"folder_id\": \"fld_01HXR9A3RWQXTQED0KH43WSYH1\"\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\npayload = {\n    \"folder_id\": \"fld_01HXR9A3RWQXTQED0KH43WSYH1\"\n}\n\nresponse = client.folders.delete(**payload)\nprint(response)"
          }
        ]
      }
    },
    "/folder/assign-agent": {
      "post": {
        "tags": [
          "Folders"
        ],
        "summary": "Assign agent to folder",
        "description": "Assigns an agent to a folder.",
        "operationId": "assignAgentToFolder",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FolderAssignAgentRequest"
              },
              "example": {
                "agent_id": "ag_01HXR8FM5QYCVXAK4TYFJ4AEP0",
                "folder_id": "fld_01HXR9A3RWQXTQED0KH43WSYH1"
              }
            }
          },
          "description": "Request body for Assign agent to folder."
        },
        "responses": {
          "200": {
            "description": "Agent assigned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "status": "success",
                  "agent_id": "ag_01HXR8FM5QYCVXAK4TYFJ4AEP0",
                  "folder_id": "fld_01HXR9A3RWQXTQED0KH43WSYH1",
                  "message": "Agent assigned to folder"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request POST \\\\\n  --url https://voip-middlware.superu.ai/folder/assign-agent \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY' \\\\\n  --data '{\n  \"agent_id\": \"ag_01HXR8FM5QYCVXAK4TYFJ4AEP0\",\n  \"folder_id\": \"fld_01HXR9A3RWQXTQED0KH43WSYH1\"\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\npayload = {\n    \"agent_id\": \"ag_01HXR8FM5QYCVXAK4TYFJ4AEP0\",\n    \"folder_id\": \"fld_01HXR9A3RWQXTQED0KH43WSYH1\"\n}\n\nresponse = client.folders.assign_agent(**payload)\nprint(response)"
          }
        ]
      }
    },
    "/folder/{folder_id}/agents": {
      "post": {
        "tags": [
          "Folders"
        ],
        "summary": "List folder agents",
        "description": "Lists agents assigned to a folder.",
        "operationId": "listFolderAgents",
        "parameters": [
          {
            "name": "folder_id",
            "in": "path",
            "description": "Folder ID",
            "required": true,
            "schema": {
              "type": "string",
              "example": "fld_01HXR9A3RWQXTQED0KH43WSYH1"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FolderAgentsRequest"
              },
              "example": {
                "page": 1,
                "per_page": 20
              }
            }
          },
          "description": "Request body for List folder agents."
        },
        "responses": {
          "200": {
            "description": "Folder agents returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "status": "success",
                  "agents": [
                    {
                      "agent_id": "ag_01HXR8FM5QYCVXAK4TYFJ4AEP0",
                      "name": "Sales Agent"
                    }
                  ],
                  "page": 1,
                  "per_page": 20
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request POST \\\\\n  --url https://voip-middlware.superu.ai/folder/fld_01HXR9A3RWQXTQED0KH43WSYH1/agents \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY' \\\\\n  --data '{\n  \"page\": 1,\n  \"per_page\": 20\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\npayload = {\n    \"folder_id\": \"fld_01HXR9A3RWQXTQED0KH43WSYH1\",\n    \"page\": 1,\n    \"per_page\": 20\n}\n\nresponse = client.folders.get_agents(**payload)\nprint(response)"
          }
        ]
      }
    },
    "/contact/create": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Create contact",
        "description": "Creates a contact after validating fields.",
        "operationId": "createContact",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactCreateRequest"
              },
              "example": {
                "first_name": "Ava",
                "last_name": "Patel",
                "email": "ava.patel@example.com",
                "country_code": "+1",
                "phone_number": "5551234567",
                "audience_id": "aud_01HXR9V5S7W1S0Q4H4PDTGM43B"
              }
            }
          },
          "description": "Request body for Create contact."
        },
        "responses": {
          "200": {
            "description": "Contact created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "status": "success",
                  "contact_id": "con_01HXR9N8QCYHTWNB5JX22P4QZA",
                  "message": "Contact created"
                }
              }
            }
          },
          "201": {
            "description": "Contact created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "status": "success",
                  "contact_id": "con_01HXR9N8QCYHTWNB5JX22P4QZA",
                  "message": "Contact created"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request POST \\\\\n  --url https://voip-middlware.superu.ai/contact/create \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY' \\\\\n  --data '{\n  \"first_name\": \"Ava\",\n  \"last_name\": \"Patel\",\n  \"email\": \"ava.patel@example.com\",\n  \"country_code\": \"+1\",\n  \"phone_number\": \"5551234567\",\n  \"audience_id\": \"aud_01HXR9V5S7W1S0Q4H4PDTGM43B\"\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\npayload = {\n    \"first_name\": \"Ava\",\n    \"last_name\": \"Patel\",\n    \"email\": \"ava.patel@example.com\",\n    \"country_code\": \"+1\",\n    \"phone_number\": \"5551234567\",\n    \"audience_id\": \"aud_01HXR9V5S7W1S0Q4H4PDTGM43B\"\n}\n\nresponse = client.contacts.create(**payload)\nprint(response)"
          }
        ]
      }
    },
    "/contact/list": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "List contacts",
        "description": "Returns contacts with pagination and optional search.",
        "operationId": "listContacts",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "example": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Contacts per page (1-100)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10,
              "example": 10
            }
          },
          {
            "name": "search_query",
            "in": "query",
            "description": "Search text",
            "required": false,
            "schema": {
              "type": "string",
              "example": "ava"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contacts returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "status": "success",
                  "contact_list": [
                    {
                      "contact_id": "con_01HXR9N8QCYHTWNB5JX22P4QZA",
                      "first_name": "Ava",
                      "phone_number": "5551234567"
                    }
                  ],
                  "page": 1,
                  "limit": 10
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request GET \\\\\n  --url https://voip-middlware.superu.ai/contact/list?page=1&limit=10&search_query=ava \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\npayload = {\n    \"page\": \"1\",\n    \"limit\": \"10\",\n    \"search_query\": \"ava\"\n}\n\nresponse = client.contacts.list(**payload)\nprint(response)"
          }
        ]
      }
    },
    "/audience/create": {
      "post": {
        "tags": [
          "Audiences"
        ],
        "summary": "Create audience",
        "description": "Creates an audience and inserts initial contacts.",
        "operationId": "createAudience",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AudienceCreateRequest"
              },
              "example": {
                "audience_name": "Demo Audience",
                "contacts": [
                  {
                    "first_name": "Ava",
                    "last_name": "Patel",
                    "email": "ava.patel@example.com",
                    "country_code": "+1",
                    "phone_number": "5551234567",
                    "variable_values": {
                      "key": "value"
                    }
                  }
                ],
                "audience_description": "Leads from webinar"
              }
            }
          },
          "description": "Request body for Create audience."
        },
        "responses": {
          "200": {
            "description": "Audience created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "status": "success",
                  "audience_id": "aud_01HXR9V5S7W1S0Q4H4PDTGM43B",
                  "contacts_added": 1,
                  "message": "Audience created"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request POST \\\\\n  --url https://voip-middlware.superu.ai/audience/create \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY' \\\\\n  --data '{\n  \"audience_name\": \"Demo Audience\",\n  \"audience_description\": \"Leads from webinar\",\n  \"contacts\": [\n    {\n      \"first_name\": \"Ava\",\n      \"last_name\": \"Patel\",\n      \"email\": \"ava.patel@example.com\",\n      \"country_code\": \"+1\",\n      \"phone_number\": \"5551234567\",\n      \"variable_values\": {\n        \"key\": \"value\"\n      }\n    }\n  ]\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\npayload = {\n    \"audience_name\": \"Demo Audience\",\n    \"audience_description\": \"Leads from webinar\",\n    \"contacts\": [\n        {\n            \"first_name\": \"Ava\",\n            \"last_name\": \"Patel\",\n            \"email\": \"ava.patel@example.com\",\n            \"country_code\": \"+1\",\n            \"phone_number\": \"5551234567\",\n            \"variable_values\": {\n                \"key\": \"value\"\n            }\n        }\n    ]\n}\n\nresponse = client.audience.create(**payload)\nprint(response)"
          }
        ]
      }
    },
    "/audience/list": {
      "get": {
        "tags": [
          "Audiences"
        ],
        "summary": "List audiences",
        "description": "Returns audiences for the current user.",
        "operationId": "listAudiences",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1,
              "example": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Records per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 100,
              "example": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Audiences returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "status": "success",
                  "audience_list": [
                    {
                      "audience_id": "aud_01HXR9V5S7W1S0Q4H4PDTGM43B",
                      "audience_name": "Demo Audience",
                      "contactCount": 32
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request GET \\\\\n  --url https://voip-middlware.superu.ai/audience/list?page=1&limit=10 \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\npayload = {\n    \"page\": \"1\",\n    \"limit\": \"10\"\n}\n\nresponse = client.audience.list(**payload)\nprint(response)"
          }
        ]
      }
    },
    "/audience/{audience_id}": {
      "get": {
        "tags": [
          "Audiences"
        ],
        "summary": "Get audience",
        "description": "Returns detailed audience data.",
        "operationId": "getAudience",
        "parameters": [
          {
            "name": "audience_id",
            "in": "path",
            "description": "Audience ID",
            "required": true,
            "schema": {
              "type": "string",
              "example": "aud_01HXR9V5S7W1S0Q4H4PDTGM43B"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Audience details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "status": "success",
                  "audience_id": "aud_01HXR9V5S7W1S0Q4H4PDTGM43B",
                  "audience_name": "Demo Audience",
                  "audience_description": "Leads from webinar",
                  "contact_count": 32
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Audience not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request GET \\\\\n  --url https://voip-middlware.superu.ai/audience/aud_01HXR9V5S7W1S0Q4H4PDTGM43B \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\npayload = {\n    \"audience_id\": \"aud_01HXR9V5S7W1S0Q4H4PDTGM43B\"\n}\n\nresponse = client.audience.get(**payload)\nprint(response)"
          }
        ]
      }
    },
    "/audience/contacts/list": {
      "get": {
        "tags": [
          "Audiences"
        ],
        "summary": "List audience contacts",
        "description": "Returns paginated contacts for an audience.",
        "operationId": "getAudienceContacts",
        "parameters": [
          {
            "name": "audience_id",
            "in": "query",
            "description": "Audience ID",
            "required": true,
            "schema": {
              "type": "string",
              "example": "aud_01HXR9V5S7W1S0Q4H4PDTGM43B"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1,
              "example": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Records per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 100,
              "example": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Audience contacts returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "status": "success",
                  "contact_list": [
                    {
                      "contact_id": "con_01HXR9N8QCYHTWNB5JX22P4QZA",
                      "first_name": "Ava",
                      "country_code": "+1",
                      "phone_number": "5551234567"
                    }
                  ],
                  "page": 1,
                  "limit": 10
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request GET \\\\\n  --url https://voip-middlware.superu.ai/audience/contacts/list?audience_id=aud_01HXR9V5S7W1S0Q4H4PDTGM43B&page=1&limit=10 \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\npayload = {\n    \"audience_id\": \"aud_01HXR9V5S7W1S0Q4H4PDTGM43B\",\n    \"page\": \"1\",\n    \"limit\": \"10\"\n}\n\nresponse = client.audience.get_contacts(**payload)\nprint(response)"
          }
        ]
      }
    },
    "/audience/update": {
      "put": {
        "tags": [
          "Audiences"
        ],
        "summary": "Update audience",
        "description": "Updates audience name and/or description.",
        "operationId": "updateAudience",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AudienceUpdateRequest"
              },
              "example": {
                "audience_id": "aud_01HXR9V5S7W1S0Q4H4PDTGM43B",
                "audience_name": "Demo Audience - Q1",
                "audience_description": "Qualified leads"
              }
            }
          },
          "description": "Request body for Update audience."
        },
        "responses": {
          "200": {
            "description": "Audience updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                },
                "example": {
                  "status": "success",
                  "audience_id": "aud_01HXR9V5S7W1S0Q4H4PDTGM43B",
                  "message": "Audience updated"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Audience not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request PUT \\\\\n  --url https://voip-middlware.superu.ai/audience/update \\\\\n  --header 'superU-Api-Key: YOUR_SUPERU_API_KEY' \\\\\n  --data '{\n  \"audience_id\": \"aud_01HXR9V5S7W1S0Q4H4PDTGM43B\",\n  \"audience_name\": \"Demo Audience - Q1\",\n  \"audience_description\": \"Qualified leads\"\n}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "from superu import SuperU\n\nclient = SuperU(\"YOUR_SUPERU_API_KEY\")\n\npayload = {\n    \"audience_id\": \"aud_01HXR9V5S7W1S0Q4H4PDTGM43B\",\n    \"audience_name\": \"Demo Audience - Q1\",\n    \"audience_description\": \"Qualified leads\"\n}\n\nresponse = client.audience.update(**payload)\nprint(response)"
          }
        ]
      }
    },
    "/audience/add-contacts": {
      "post": {
        "tags": [
          "Audiences"
        ],
        "summary": "Add contacts to audience",
        "description": "Adds one or more contacts to an audience.",
        "operationId": "addAudienceContacts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AudienceAddContactsRequest"
              },
              "example": {
[...]
